body, input, textarea, button, select, .faux-select, .variant-input-wrap label, [data-section-type*='header-section'] .site-nav__link, [data-section-type*='header-section'] .megamenu, .collapsible-content__inner, .type-banner__text, footer li a, .site-footer .footer__collapsible, .btn {
  font-family: granville, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .05em; }

h5, .h5, h6, .h6, footer input, .template-index .flex-grid__item.flex-grid__item--50.type-sale_collection .rte--block.rte--em, .grid-product__title, .template-list-collections a.collection-item span {
  font-family: granville, serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .05em; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, [data-section-type*='header-section'] .megamenu .h5 a, .article__title, .collapsible-trigger-btn, .template-index .promo-grid__container .promo-grid__text .rte--block.rte--strong, .template-index .collection-item.collection-item--overlaid-box .collection-item__title span, .template-index .flex-grid__item.flex-grid__item--50.type-sale_collection .rte--block.rte--strong {
  font-family: granville, serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .035em; }

.type-banner__text:before, .template-index .collection-item.collection-item--overlaid-box .image-wrap:before, .template-index .type-sale-images:before, .site-footer:after {
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-icon="comments-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 699.57153 720.65607"><path fill="%23c19896" d="M727.42486,601.54351c5.16584-6.89789,10.27775-14.3056,15.98325-21.22373a141.73347,141.73347,0,0,1,45.37866-36.46209c12.8612-6.54638,26.1185-12.31144,39.145-18.53836a102.357,102.357,0,0,0,8.95758-5.16254c1.91322-1.16589,2.5-2.98516,2.79646-5.22567,1.34932-10.19774,5.08307-19.57031,10.28386-28.40924a14.57167,14.57167,0,0,0,1.617-4.49411,47.39448,47.39448,0,0,1,15.476-26.83521c2.21677-1.96991,3.84189-1.77938,4.726,1.02819,1.31909,4.18875,2.80025,8.538,2.90212,12.84987a140.74762,140.74762,0,0,1-1.30024,20.327c-2.20866,18.04951-7.8798,35.09127-15.88617,51.35783a378.9206,378.9206,0,0,1-31.4737,53.06536c-13.7648,19.27721-30.13343,35.8157-50.09772,48.68522-.76186.49112-1.5052,1.0116-2.24281,1.53868a1.64061,1.64061,0,0,0-.30476.455c4.09524,1.14511,8.22677,2.14273,12.25449,3.4581,9.456,3.08829,18.52774,7.02412,26.383,13.276a10.09506,10.09506,0,0,1,3.41421,4.35118c.94916,2.99548-1.29945,6.01319-4.82945,6.70373-5.233,1.02366-9.22046,4.05655-13.00089,7.48675-5.92057,5.37205-10.19471,11.98468-14.425,18.70639-17.01856,27.04208-41.70843,40.6871-73.56659,39.41661-19.00748-.75805-36.28158-7.88252-51.22938-20.0087-.55365-.44911-1.12181-.88017-2.0671-1.62018a19.00478,19.00478,0,0,0,.36941,2.10784c9.255,29.27983,6.27832,57.65932-5.64917,85.62718-8.72607,20.46094-22.79064,36.5627-39.42168,50.7573-7.13279,6.08789-14.571,11.80831-23.08327,15.85807a73.47745,73.47745,0,0,1-12.20495,4.56412c-4.98559,1.35618-8.32164-1.251-8.87342-6.39058a26.88492,26.88492,0,0,1-.182-4.9001c.604-7.84791-1.61986-15.12538-4.49228-22.23733-4.26083-10.54947-8.00457-21.22126-9.70992-32.54324-1.52354-10.11514-.13743-19.90669,2.63932-29.61115a261.82692,261.82692,0,0,1,21.36508-53.21425q-.29334-.29263-.58654-.58527c-1.03158,1.11455-2.45022,2.05691-3.03449,3.37041-5.445,12.2413-11.79406,23.87442-20.04039,34.55233-10.40219,13.46958-20.91311,26.76923-33.34478,38.47819-17.34644,16.33787-37.04729,29.07741-58.06254,40.21182a203.79117,203.79117,0,0,1-59.30131,20.233c-9.25295,1.6909-18.78928,1.89-28.21006,2.59117a190.871,190.871,0,0,1-52.08628-2.85764c-2.60573-.52408-5.50562.52388-8.27863.6699-1.1584.061-3.103-.01578-3.34524-.59359a4.2942,4.2942,0,0,1,.39574-3.70892,71.574,71.574,0,0,1,8.24794-9.01159c26.69118-23.30653,57.0259-40.2842,90.51875-51.71138a7.84985,7.84985,0,0,0,3.06349-1.69895c-5.89886.98051-11.77218,2.166-17.70124,2.90385-19.33191,2.40581-38.6507,1.60054-57.92568-.74-17.82069-2.164-35.3546-5.61468-52.11075-12.31494-13.51538-5.40441-25.20682-13.69043-35.99613-23.26345-5.78934-5.13675-5.2239-8.27045,1.48927-12.32094a6.8039,6.8039,0,0,0,1.12268-.76764c8.488-7.83639,18.73086-10.76974,30.74609-10.69816-1.167-.94449-1.86268-1.5524-2.60292-2.09985-13.59171-10.05116-27.14218-20.159-40.79564-30.12558a223.33933,223.33933,0,0,1-52.52683-54.148,142.18369,142.18369,0,0,0-8.999-11.25659c-3.1188-3.66511-3.55075-6.05713-.43882-9.48387a41.14217,41.14217,0,0,1,8.58575-7.39153c9.37531-5.79566,19.936-8.50236,30.56661-10.94605a215.818,215.818,0,0,1,60.24528-5.36745c14.0733.76,27.82249,3.563,41.423,7.23433,6.96763,1.88079,14.07262,3.25262,21.11552,4.85449l.28541-.643c-.933-.548-1.86394-1.09956-2.79948-1.64329-25.5553-14.85378-49.26669-32.29527-68.41245-54.83975-20.37067-23.98682-37.23886-50.40961-47.47184-80.55316a59.37478,59.37478,0,0,1-3.12222-18.73669,75.22442,75.22442,0,0,0-.711-9.784,43.78174,43.78174,0,0,1,1.79137-19.641,24.39623,24.39623,0,0,1,8.54418-12.03013c2.71644-2.12013,5.80656-2.67993,9.18912-2.78007,9.23634-.27356,18.4662-.768,27.69823-1.18429a88.86,88.86,0,0,1,25.83643,2.84219,158.18017,158.18017,0,0,1,39.042,16.12783c.59559.336,1.20567.6462,1.77849.95212-4.10156-6.23684-8.329-12.29986-12.18231-18.592-12.24426-19.99389-21.44857-41.32225-25.78917-64.40006a113.89148,113.89148,0,0,1,.17681-42.31661c1.74183-9.23607,7.65647-11.21781,13.94691-10.18373,5.38946.886,10.19548,3.55281,14.66665,6.81845,3.04934,2.22713,6.49778,3.89922,9.67027,5.96891,3.2961,2.15025,6.47484,4.48029,9.86272,6.84172.05727-.66474.22962-1.74357.23138-2.82269.0284-17.36506,1.57-34.51209,7.7941-50.90827a148.48818,148.48818,0,0,1,6.78416-15.44225,40.21062,40.21062,0,0,1,5.8975-7.77788c1.96069-2.21951,6.25281-3.28523,8.19157-1.78249,12.32306,9.552,27.51586,14.27865,39.73722,24.064a184.63821,184.63821,0,0,1,36.84212,39.44618c17.615,25.46828,30.37636,53.36486,42.9897,81.4087,2.52289,5.60938,5.79046,10.887,8.25516,16.51877,4.38334,10.01577,8.41546,20.18522,12.7261,30.60868,5.42618-1.44893,10.75951-.18354,15.794,4.64049,0-2.97919-.44864-5.459.1043-7.69066.84549-3.41209-.69946-5.39246-2.75077-7.75012-10.532-12.105-20.14853-24.84332-26.3034-39.86236-7.21759-17.61239-10.226-36.158-11.94637-54.93251a265.81167,265.81167,0,0,1,1.11062-58.77946c1.408-10.77292,4.21266-21.368,6.48976-32.0215,3.1336-14.66094,9.05566-28.34722,14.92259-42.04328,2.26445-5.28619,6.32007-6.90034,13.4722-5.12312,9.17419,2.27963,17.40847,6.76748,25.51082,11.462,32.49953,18.83029,52.22085,47.56108,64.01384,82.50393,3.9664,11.75235,6.41948,23.80944,8.84693,35.93951,1.71686,8.57973,4.91968,16.86568,7.55646,25.25218a3.60461,3.60461,0,0,0,1.84883,2.1132,110.99174,110.99174,0,0,1,27.628,14.3876c-1.233-3.63444-2.26039-6.79321-3.37354-9.92142-4.70867-13.23173-7.13372-27.00866-9.59492-40.75971-3.07405-17.17526-5.53731-34.43155-5.14753-51.96.33278-14.96666,3.10746-29.58479,6.21247-44.16453a97.63747,97.63747,0,0,1,11.67207-30.36331c5.38923-8.9478,10.68118-17.95845,16.27269-26.77869,3.88749-6.13227,7.14917-6.70969,12.49451-1.84463,4.70115,4.27881,10.178,6.90231,15.85341,9.31776a87.64956,87.64956,0,0,1,42.75047,37.62564c13.61485,23.46958,22.57624,48.59165,27.859,75.09,1.87461,9.4032,3.76911,18.85573,4.70115,28.37908a270.88177,270.88177,0,0,1,1.15983,31.02153c-.20894,12.0544-1.29106,24.09359-1.98646,36.13986-.01525.26394.06478.53337.51709.947.33811-.94047.75952-1.86,1.00175-2.82455,2.98289-11.879,6.26254-23.64431,12.03669-34.55923a174.44838,174.44838,0,0,1,19.816-29.61352c6.73575-8.14869,15.44171-14.00081,24.08576-19.89444,5.85105-3.9893,11.63625-8.075,17.4612-12.10277a20.7451,20.7451,0,0,1,2.99767-1.871c3.7269-1.72312,6.22419-.75383,7.31423,3.20428,2.47758,8.9964,4.77766,18.04281,7.05935,27.09168,1.32888,5.27025,2.69265,10.54628,3.66777,15.88777,1.56525,8.57386.86679,17.18438-.05753,25.7919a231.44357,231.44357,0,0,1-16.09637,63.40447A360.651,360.651,0,0,1,801.614,501.978c-10.59728,13.0489-21.11786,26.16631-31.99066,38.98333-11.33782,13.3652-23.112,26.35959-34.54807,39.64286a20.11122,20.11122,0,0,0-3.40037,6.66338C730.0512,592.07243,728.76,596.98964,727.42486,601.54351Zm7.3942-74.78654.51363.03419c5.64438-18.59476,11.64611-37.09047,16.83731-55.81091,5.72608-20.64934,10.49028-41.56378,16.0762-62.254,5.57772-20.65979,7.9248-41.71792,8.4875-62.99607a272.6946,272.6946,0,0,0-5.795-65.15436c-5.57586-25.76908-13.64669-50.56454-27.10614-73.364-7.30318-12.37109-15.59612-23.96791-28.61579-31.10781-5.56094-3.0496-11.16484-6.04494-16.89863-8.748-4.77992-2.25333-9.41875-4.52127-13.37929-8.18761-3.91626-3.62529-6.73955-3.21129-9.63574,1.25709-3.10387,4.7889-5.94214,9.7645-8.66,14.78648-10.02813,18.52923-12.24577,38.89478-13.51618,59.40674-.58914,9.5109-.3513,19.07007-.74548,28.59671a200.02044,200.02044,0,0,0,3.57,44.95032c3.592,19.29355,7.82879,38.46949,11.98315,57.65382.80919,3.73662,1.7684,7.8228,3.94882,10.80392,5.12682,7.00958,9.8598,14.21954,13.28447,22.15453,9.60072,22.24472,12.86652,45.70892,12.59859,69.754-.04068,3.64763-.84588,7.28676-1.32908,11.18448a22.02253,22.02253,0,0,1,15.72823,2.49932c.33718-1.0667.67036-1.89291.85826-2.75091,1.58563-7.23859,3.01911-14.513,4.73751-21.71957a267.68361,267.68361,0,0,0,7.21149-48.83273,255.69985,255.69985,0,0,0-5.64631-67.28321c-1.1764-5.41735-1.46225-11.02807-2.15751-16.5499,1.14537,4.86638,1.92527,9.76881,2.66908,14.6767,1.9501,12.86749,4.42862,25.68424,5.69258,38.61928a205.32409,205.32409,0,0,1-1.81821,52.94724c-2.72494,16.75369-6.74214,33.29683-10.1487,49.94119a2.77841,2.77841,0,0,0,.30688,2.10045c1.78179,2.0076,3.84176,3.773,5.57613,5.81686,2.32864,2.74422,5.01017,5.39612,6.53021,8.5712a107.81456,107.81456,0,0,1,5.59524,15.30915C732.93174,517.54261,733.75738,522.18559,734.81906,526.757ZM475.40322,665.80427a74.99213,74.99213,0,0,0-5.51967-5.15c-13.90519-10.7088-24.73522-24.171-33.47021-39.14608-9.98281-17.11431-15.68062-35.9249-18.54849-55.50021-2.31612-15.80959-2.0859-31.70218-.5617-47.59423a5.98461,5.98461,0,0,0-1.22125-4.13786c-8.81023-9.7966-17.4591-19.76766-26.74744-29.09825a311.75565,311.75565,0,0,0-50.39839-40.53479c-18.09681-11.86044-37.34552-21.06366-59.04346-24.354a84.87647,84.87647,0,0,0-23.56642-.03515c-7.1819.90837-14.40243,1.5237-21.56978,2.52649a14.00687,14.00687,0,0,0-5.93226,2.31844,18.43768,18.43768,0,0,0-7.09617,9.76449c-3.36082,10.96608-3.6553,21.73661,2.15229,32.14,2.29722,4.11515,4.32275,8.3844,6.4087,12.61464A258.56936,258.56936,0,0,0,254.21705,518.871a355.2644,355.2644,0,0,0,54.76809,58.28211c27.14259,23.32757,56.66539,42.92,89.22634,57.98717,24.897,11.52073,50.50115,21.16173,76.28753,30.39551C474.89468,665.6775,475.30584,665.77571,475.40322,665.80427ZM623.72151,347.81818c-2.29654-8.40537-5.31611-16.64965-6.71091-25.16022a220.21917,220.21917,0,0,0-13.17174-47.97785c-14.87769-36.41272-40.19185-62.66384-76.48609-78.07213a44.70465,44.70465,0,0,0-10.72892-2.78413,5.3951,5.3951,0,0,0-5.98645,5.31493c-.11455,4.264-.51019,8.63814.22193,12.78731,3.49092,19.78354,6.70612,39.64837,11.19384,59.21494,5.29747,23.09709,11.80024,45.91773,17.78037,68.85825.34234,1.3132.699,2.62287,1.02193,3.94083.31507,1.286.59529,2.58058.89086,3.87141a810.17219,810.17219,0,0,1-32.67321-144.4469,6.73022,6.73022,0,0,0-.39115.73762,307.079,307.079,0,0,0-11.3278,31.7963c-11.08937,38.48541-11.9223,77.30585-5.73064,116.64726,4.46894,28.39526,17.37431,52.309,36.678,73.14121a39.11667,39.11667,0,0,1,19.61382-5.74731c14.63572-.63964,28.3697,3.13127,41.70324,8.73776,3.22119,1.35445,6.39344,2.82538,9.73342,4.30714-.05094-.46948-.016-.663-.09328-.78642-13.47816-21.53307-15.08556-44.2262-6.63488-67.89778,2.22017-6.21889,4.49774-12.41735,6.721-18.63517,1.07446-3.0049,2.987-4.43079,6.30069-3.8578a54.23381,54.23381,0,0,1,8.0611,2.41459C617.1937,345.40758,620.64215,346.70693,623.72151,347.81818Zm-61.05495,385.9916-.39691-.4531a3.02331,3.02331,0,0,0-.49492.10706c-.67595.26594-1.35271.53154-2.01762.82371a123.32138,123.32138,0,0,1-66.846,9.75593c-17.14849-2.25033-33.29833-7.40672-48.05769-16.607a11.26186,11.26186,0,0,0-3.763-1.45106c-16.96885-3.2477-32.79349-9.633-48.2137-17.236-15.05157-7.42137-30.21783-14.60982-45.31628-21.93644-40.61033-19.70667-83.48755-32.51147-127.55089-41.55895-10.08814-2.07142-20.41666-2.99367-30.6516-4.3123a61.59842,61.59842,0,0,0-7.46217-.04394c2.71586,3.75572,5.05976,6.86739,7.26821,10.07226a222.73128,222.73128,0,0,0,51.80193,53.72142c16.48179,12.10214,32.6423,24.64087,49.06185,36.829,7.844,5.82249,14.87945,12.78529,23.96694,16.897,3.96314,1.79323,7.65141,4.18359,11.53415,6.16646,13.76364,7.02912,27.64753,13.747,42.64317,17.88388,29.42591,8.11776,59.18052,11.36312,89.55649,6.664,37.47519-5.79726,70.18189-21.23138,97.344-47.9476C557.588,738.71,560.13444,736.26712,562.66656,733.80978ZM508.61182,436.32744c-2.50718-6.70289-4.7064-13.62348-7.63706-20.219-8.23815-18.54007-16.75471-36.95675-25.20377-55.40269-11.83936-25.84777-25.99019-50.31423-44.62174-71.8986a136.38438,136.38438,0,0,0-35.64474-29.27084c-7.072-4.05236-14.21771-7.97632-21.34927-11.92368a7.7861,7.7861,0,0,0-1.87639-.49763c17.67623,30.80653,34.5486,61.79117,49.44567,93.81369-3.28445-5.72221-6.01272-11.73443-9.073-17.57257-9.0548-17.274-18.14449-34.53126-27.419-51.68779-4.18459-7.74087-8.73909-15.28876-13.32472-22.80281-2.22146-3.64009-5.67613-3.82246-8.4876-.59894-1.89874,2.17706-4.00835,4.4202-5.08081,7.02236-3.62382,8.79235-7.77835,17.52759-10.00135,26.70346-5.34266,22.05259-4.8826,44.07538.72486,66.32909,11.82908,46.94491,34.04793,87.85178,68.04366,122.33057,2.76473,2.804,5.73167,5.4087,8.78117,8.27177.881-2.43373,1.62791-4.47689,2.36076-6.525A65.96013,65.96013,0,0,1,441.239,450.20747c2.86886-3.19473,10.07553-4.9633,12.95894-3.16963,4.05346,2.52153,8.17559,4.12167,12.99506,3.57559a3.7144,3.7144,0,0,1,1.16.2149c6.02131-8.80225,13.03568-16.34573,22.38228-21.35609a30.07508,30.07508,0,0,1,7.90476-2.728c3.79448-.80623,5.92973,1.30172,5.00907,4.99069a55.99165,55.99165,0,0,1-3.01934,7.56789C503.08537,438.38747,505.7688,437.38722,508.61182,436.32744Zm78.73582,151.211.5932-.20754c.41455,1.06308.88943,2.107,1.2344,3.19229a286.00661,286.00661,0,0,0,18.57209,44.34069c6.12091,11.88055,12.20274,23.82109,21.31361,33.75486a103.2677,103.2677,0,0,0,12.42733,10.88586c2.45648,1.93626,4.40892-.01079,6.02331-1.847,1.04663-1.19045,2.07421-2.14593.85513-4.19385-17.10791-28.7399-24.94342-59.39136-19.14244-92.91424,1.00248-5.79313,2.80344-11.34542.97845-17.74632-5.93642-20.82142-13.06168-41.05651-25.08759-59.217-12.05027-18.19742-27.82737-31.70788-49.09483-38.20523-4.981-1.52177-10.03109-3.10087-14.11384-6.74171-4.0994-3.65571-5.929-3.62872-10.12933-.01834a31.31188,31.31188,0,0,0-9.06861,14.33722,89.14673,89.14673,0,0,0-4.25261,37.84877,65.11178,65.11178,0,0,0,2.90865,13.72472c2.74458,8.15678,6.35732,16.02386,9.0462,24.19659,5.78481,17.58279,9.707,35.753,17.41956,52.73464,6.32406,13.92428,12.68558,27.7835,22.02909,40.00349,3.74953,4.90383,7.76793,9.607,11.76516,14.31565a204.54577,204.54577,0,0,0,32.812,31.03385,14.37734,14.37734,0,0,0,10.63176,3.02464c6.58588-.63761,12.30762-2.77861,16.40006-8.66442-8.35367-4.43728-14.04745-11.43457-19.13026-18.85134-12.00939-17.524-21.16779-36.56237-28.77992-56.34655C591.23128,599.93038,589.40382,593.69041,587.34764,587.5384Zm-115.391-122.4402c-3.8282,3.64943-7.68038,6.44481-10.3926,10.08871a75.80779,75.80779,0,0,0-12.53257,25.84371,190.6844,190.6844,0,0,0-6.01888,54.25861,124.61284,124.61284,0,0,0,18.86772,63.77115c10.55713,17.01975,22.65677,32.74578,39.75443,43.89337,1.59395,1.03931,3.1061,2.20886,4.73258,3.1917a7.51753,7.51753,0,0,0,3.23384,1.38947c18.27839.68468,36.0832,3.6707,53.11261,10.59262a9.51028,9.51028,0,0,0,1.59508.23777c-41.59005-26.43664-72.66381-60.65386-87.73942-107.80518,1.49045,2.96278,2.92193,5.99061,4.14045,9.10187,14.12938,36.07571,37.5851,64.84025,68.9223,87.25276,11.56407,8.27064,23.01855,16.87453,36.67563,21.70652,2.9717,1.05142,5.84426,1.72738,9.32106.53274a151.29149,151.29149,0,0,1-29.05111-20.1691,8.15906,8.15906,0,0,1,2.04279,1.116c10.94145,6.9865,20.229,16.8688,33.944,19.00328,3.464.5392,6.78555,1.44547,10.51924-.06964-.76951-.666-1.21329-1.10356-1.70894-1.47137a211.46132,211.46132,0,0,1-43.36071-43.87008c-16.49228-22.11621-26.85-47.26871-34.4986-73.61859-4.73135-16.29965-8.73813-32.85508-16.68524-48.03931-3.113-5.9478-5.86224-12.12475-9.427-17.78834-5.64644-8.97093-14.209-14.85767-22.98-20.51257-2.613-1.68467-4.6597-4.47353-6.47078-7.0981-1.245-1.80422-1.44387-4.29545-2.4638-6.29973A47.10473,47.10473,0,0,0,471.95664,465.0982Zm269.136,88.63241q.42076.28445.84168.56889a10.06921,10.06921,0,0,1,.76805-1.30484c5.98362-7.428,12.06312-14.78021,17.96011-22.276,24.11107-30.64879,47.20546-61.99192,65.50076-96.588,9.8845-18.6913,19.09144-37.70288,26.12083-57.67036,6.5105-18.49346,10.24465-37.70352,13.89091-56.91281.57-3.0027,1.44933-6.268.82964-9.117-2.17476-9.99843-4.91043-19.87623-7.49628-29.78334-1.4404-5.51891-3.466-4.998-7.24511-2.56271-.22865.14735-.44192.31827-.66551.47374q-9.16679,6.37338-18.33685,12.74208c-8.75517,6.04724-17.58744,12.03849-24.26813,20.49267-3.768,4.76833-7.27049,9.76152-10.66812,14.80461-11.48731,17.05025-17.95879,35.92769-21.30329,56.17686-2.63126,15.93041-5.88668,31.81134-9.90088,47.44832-7.88219,30.70439-16.49887,61.21745-26.64678,91.27558-2.93461,8.69235-5.34055,17.50472-4.04709,26.90935.41708,3.032.05047,6.17085.05912,9.26077.0018.64294.07777,1.28567.11479,1.855,28.57318-46.285,51.88777-94.67555,62.02142-148.53706C789.80783,462.69759,768.18681,509.30439,741.09266,553.73061ZM476.24487,668.87332c-12.02117-4.06374-24.014-8.21378-36.06892-12.17472-33.72183-11.08027-67.51548-21.94409-101.18708-33.17425-16.52144-5.51021-33.11422-10.44713-50.44339-12.788a175.37156,175.37156,0,0,0-46.68962-.14595,347.17232,347.17232,0,0,0-36.20116,7.08318c-8.98923,2.18495-17.64072,5.70377-24.75114,11.99907a12.19375,12.19375,0,0,0-3.08874,4.34533c-1.00095,2.432,1.69654,6.31874,3.99,6.28811a106.45836,106.45836,0,0,1,10.786.07244c6.85529.60751,13.79633.99736,20.49909,2.42751,16.53836,3.52881,33.03486,7.31051,49.41659,11.50449,32.8707,8.41552,64.10373,21.23211,94.642,35.876,19.2077,9.21047,38.52825,18.18617,57.83236,27.19382a67.17758,67.17758,0,0,0,8.407,3.10128c2.84386.888,5.75973,1.553,8.65935,2.2524,2.80255.676,5.6246,1.27115,8.76686,1.97554a7.50441,7.50441,0,0,0-.7768-.92206c-9.26893-7.09483-13.9845-17.21477-18.24313-27.60551-1.48362-3.62-.68871-5.71076,2.63142-7.87187,1.51975-.98917,3.11343-1.87347,4.71637-2.72474C443.94367,677.72537,459.907,673.26639,476.24487,668.87332ZM571.02,872.12319c2.00078-5.17722,3.47774-10.15543,5.77069-14.72414a95.40512,95.40512,0,0,1,35.85671-39.35476c9.19789-5.64964,18.39345-11.33629,27.259-17.48358,7.5839-5.25852,14.01064-11.93521,16.17654-21.22758a133.976,133.976,0,0,0,3.20221-22.33154c1.04364-17.48118-3.28318-34.064-9.674-50.16811a71.88441,71.88441,0,0,0-11.07955-18.42687,29.78832,29.78832,0,0,1-23.517,3.22459c11.25626,28.59275-.91286,82.48136-10.27788,95.48718.60039-1.56459.97559-2.4646,1.29413-3.38426,2.51227-7.25464,5.26717-14.43877,7.42649-21.79748,1.36829-4.66306,1.69742-9.62042,2.748-14.38949,3.12352-14.17742,3.07717-28.44414,1.32236-42.74973-.53154-4.33368-1.1515-8.72654-3.69241-12.60325a23.09555,23.09555,0,0,1-2.35473,3.458c-5.63193,5.66235-10.89185,11.81823-17.12776,16.72745-9.41415,7.41125-17.124,15.82864-21.32413,27.18764q-6.891,18.6364-13.85382,37.24638c-6.33239,16.99-5.25643,33.85767.87251,50.6228,1.62,4.43135,3.25155,8.8697,5.14546,13.18733a61.7498,61.7498,0,0,1,4.89551,26.82788A21.651,21.651,0,0,0,571.02,872.12319Zm155.3333-190.27355q.04266.47142.08523.94289c-3.33332,1.01594-6.67063,2.01882-9.99929,3.04994-16.78391,5.19946-33.882,5.51467-51.1046,3.07524-6.79455-.9624-13.51871-2.41979-20.27824-3.63334-1.48428-.26647-3.08975-.82045-4.00261,1.20836a7.5334,7.5334,0,0,0,.51049.9088,85.25935,85.25935,0,0,1,11.85026,21.06552,6.20905,6.20905,0,0,0,1.50679,2.22c16.62424,15.78662,36.5922,23.8408,59.33416,24.24689a55.79642,55.79642,0,0,0,21.821-3.76531c10.12014-4.19245,18.237-11.7071,24.96493-20.55356q8.23426-10.82682,16.91769-21.31034c8.66162-10.48962,19.92314-16.85976,33.00053-20.20513,2.50375-.6404,3.35209-3.025,1.64915-5.05a15.83682,15.83682,0,0,0-3.50664-2.98948A101.48131,101.48131,0,0,0,760.872,644.801a118.0257,118.0257,0,0,0-63.54426,12.63881c-2.8651,1.45925-5.36053,3.64979-8.01077,5.52485-5.91231,4.183-11.6192,8.69865-17.77894,12.47688-5.4401,3.33671-11.6804,2.96557-17.825,2.04452a3.80464,3.80464,0,0,0-2.66688.48426c-2.45068,1.97062-4.7385,4.14371-6.83136,6.01325C671.28466,690.82527,698.91035,692.32141,726.35326,681.84964Zm-116.3279,11.58618c-3.74734-.77969-6.64793-1.43208-9.57129-1.9575a4.33977,4.33977,0,0,0-2.3341.24763c-10.49107,4.44647-21.50637,4.76174-32.35513,2.72967-10.45806-1.95883-20.7121-5.12962-30.942-8.15312-12.3419-3.64786-24.61044-7.45872-37.54874-8.44676-7.32069-.559-14.61421-1.69795-21.93943-1.91308-7.55843-.22186-15.17322-1.08865-22.66826,1.45765-8.96953,3.04721-17.72827,6.47394-25.84487,11.39122-4.13049,2.50242-4.42815,3.78509-2.24261,7.97954.71235,1.36717,1.445,2.73267,2.03,4.1559a51.81659,51.81659,0,0,0,24.3971,26.552c26.05145,13.8497,53.72142,18.22659,82.6357,12.202,23.55463-4.908,44.64691-15.11333,62.15353-31.99092C600.54416,703.11178,605.12266,698.3567,610.02536,693.43582Zm-39.75213,36.66751-.39292-.17812c-.20321.159-.48819.27493-.59778.4832a70.37333,70.37333,0,0,1-16.9026,20.4648,201.87015,201.87015,0,0,1-44.319,29.01017c-23.56631,11.30466-48.17728,19.9523-73.01577,27.99323-16.75166,5.42292-32.77435,12.64806-48.77281,19.95863-19.30608,8.822-38.82995,17.17929-56.54284,29.08168-1.46734.986-2.91254,2.0049-4.36806,3.00852a74.834,74.834,0,0,0,12.70995,2.3056c18.73262,1.85409,37.39952.25927,56.0324-1.46378a145.50528,145.50528,0,0,0,21.20232-3.49519,202.20083,202.20083,0,0,0,45.85044-17.7258c19.65874-10.31324,38.0911-22.212,54.53544-37.19432,12.89518-11.74851,23.90245-25.08552,34.51355-38.86151a155.83233,155.83233,0,0,0,18.589-30.03895C569.30337,732.34274,569.781,731.21974,570.27323,730.10333Zm68.025-129.57516c.65778,7.57644.77544,15.24962,2.11071,22.70468a266.937,266.937,0,0,0,6.63,27.34124c2.18761,7.5265,5.1103,14.8458,7.90469,22.18173a3.98947,3.98947,0,0,0,2.90293,2.15812c3.19023.03449,6.28051-.52,7.27694-4.42643a28.09019,28.09019,0,0,1,1.60434-3.44418,303.05744,303.05744,0,0,0,13.942-44.17017,275.64828,275.64828,0,0,0,7.19451-53.46846,211.55044,211.55044,0,0,0-3.30948-44.689c-1.36663-7.929-3.1373-15.85367-7.27029-22.88915-1.154-1.96445-3.38758-3.36-5.31072-4.7632a2.58951,2.58951,0,0,0-2.51161.40356c-4.09976,5.75068-8.98662,11.17909-11.88175,17.50841A213.44127,213.44127,0,0,0,638.29824,600.52817ZM424.68869,480.7465c-3.051-2.54044-6.26237-4.88543-9.09321-7.62382-22.2919-21.5632-39.04-46.99522-52.25747-74.9176-9.86626-20.84277-16.29656-42.77341-20.38617-65.353-1.39263-7.689-5.11277-12.6371-11.6492-16.16708-3.56816-1.927-6.89446-4.30427-10.47487-6.20541a107.79487,107.79487,0,0,0-13.38354-6.38738,7.92128,7.92128,0,0,0-8.90319,2.47518c.86313.95228,1.6109,1.74367,2.31958,2.56861.70938.82577,1.43641,1.64535,2.05884,2.53541,16.41311,23.47012,26.10485,49.59435,30.45653,77.77112,2.16927,14.04555,4.08811,28.13076,6.01655,42.2122,1.016,7.4193,3.92361,13.6883,10.03558,18.29241q9.13422,6.88068,18.16076,13.90413c10.22668,7.96675,20.98532,15.2943,29.62137,25.15816,6.16493,7.0415,12.53657,13.90183,18.78952,20.86676a17.94629,17.94629,0,0,1,1.48712,2.38327C420.05336,501.02929,422.41219,490.7078,424.68869,480.7465Zm268.44079-3.23688.47993.01848a29.75462,29.75462,0,0,0,.69867-4.40642c.08036-6.43715.36554-12.89538-.01958-19.31017-1.07833-17.96151-4.359-35.47612-11.24967-52.22334-7.256-17.63532-19.3135-30.88843-35.69584-40.52074-12.91194-7.59176-27.47268-10.87277-41.18349-16.36261-3.04614-1.21968-4.51312-.07251-5.32963,3.109a54.01732,54.01732,0,0,1-2.42072,8.31c-7.27189,16.58853-10.968,33.60449-6.99756,51.71362,2.02381,9.23021,4.997,18.025,11.04931,25.4702.68382.84116,2.06876,1.7994,2.94474,1.647,1.57631-.27432,3.01325-1.34928,4.738-2.20346-6.19715-5.93711-7.50286-13.71666-9.06632-21.35512a14.615,14.615,0,0,1,.03882-4.86548c.62875-4.46151,3.37933-5.82282,7.35778-3.79631a38.658,38.658,0,0,0,4.18159,1.98q12.7791,4.67628,25.59549,9.25056c9.37147,3.35759,17.88354,8.21335,24.72017,15.47191a139.91034,139.91034,0,0,1,26.32857,38.841C690.65928,471.31783,691.85713,474.43039,693.12948,477.50962Zm21.047,11.24a81.82692,81.82692,0,0,0-11.479,20.88814c-7.8487,20.25869-10.67678,41.40934-11.56893,62.96981a146.11651,146.11651,0,0,1-2.571,21.54645c-1.618,8.389-3.92218,16.65407-6.1337,24.91806-3.01145,11.25326-5.94673,22.53928-9.43339,33.64853-2.33729,7.44686-5.57453,14.61128-8.4907,22.11214a21.62707,21.62707,0,0,0,4.43874-1.48208c4.53269-2.6563,9.341-5.03913,13.34393-8.36812,17.34289-14.42246,30.31787-31.59469,35.21624-54.35869,5.46534-25.39873,10.33641-50.82649,12.63641-76.74949,1.08645-12.24563-.699-23.62913-6.10727-34.59339A25.45612,25.45612,0,0,0,714.17648,488.74957ZM697.59865,654.60175q.19335.2369.38678.47387c.72723-.28178,1.4474-.58347,2.18275-.84221,7.01234-2.46693,13.88725-5.4915,21.07032-7.272a132.77674,132.77674,0,0,1,47.04539-2.9803,7.92812,7.92812,0,0,0,4.82452-1.09823,175.556,175.556,0,0,0,42.27267-38.20233c7.98419-10.03624,15.38971-20.46639,19.48715-32.82075,2.9982-9.03989,3.58114-18.46369,4.08917-27.86836.24577-4.5499.04235-9.12408.04235-14.19653-6.58833,12.76009-12.55324,19.46711-22.36377,27.40879-18.13729,14.68233-36.64007,28.9306-55.31669,42.92445-19.27142,14.43957-38.92164,28.37429-55.689,45.83516C702.90744,648.799,700.27365,651.72013,697.59865,654.60175Zm-194.359,12.67c-.07548-.14615-.1122-.35729-.23291-.43133-13.10862-8.03613-23.79945-18.52907-33.08037-30.80653-16.89471-22.34959-28.08981-46.732-29.60686-75.09282-1.24911-23.35177.629-46.28437,8.22294-68.557a6.46832,6.46832,0,0,0,.38229-2.38467c-.489-8.60436-.89066-17.21744-1.61143-25.80332-.38149-4.544-1.34223-9.03942-2.04149-13.55676q-.48446-.1936-.96886-.38729c-1.0458,1.20334-2.116,2.3865-3.13361,3.61317-8.19253,9.87548-12.77357,21.57725-15.94559,33.72021a197.7041,197.7041,0,0,0-4.93113,74.34032c3.0596,25.11881,10.79537,48.62722,26.003,69.36062,10.56069,14.398,22.89631,26.73327,38.286,35.89061a4.98478,4.98478,0,0,0,2.46393.89169C492.44325,667.878,497.83613,667.5533,503.23968,667.27178ZM671.40245,491.00253c-2.141-4.737-3.79641-9.48949-6.29657-13.74569-11.8147-20.11267-28.08452-34.96456-50.76436-42.0307a9.67931,9.67931,0,0,0-10.10363,2.7899c-1.48342,1.70071-3.05693,3.32293-4.59355,4.97714-1.99392,2.14656-3.69333,4.49367-2.26538,7.53875a61.71325,61.71325,0,0,0,4.77965,8.7067c7.30132,10.66359,14.23635,21.50906,18.794,33.6986,7.77153,20.78463,12.12844,42.20361,12.07177,64.453-.00233.89456.09522,1.78938.14622,2.684C640.78987,534.07533,654.15691,511.40714,671.40245,491.00253Zm-262.443,302.88222-.019-.56562c-.40236-.05227-.80363-.116-1.20729-.15521-20.47349-1.99359-40.416-6.3774-59.32265-14.53378-21.13516-9.11772-41.69425-19.34506-59.61-34.19125a13.8224,13.8224,0,0,0-7.5772-2.5461c-12.90148-.804-22.86267,5.861-32.39016,13.3936-1.3405,1.05981-1.30431,2.18847.13795,3.33278,2.55666,2.02848,4.94516,4.27209,7.53332,6.25708,9.17332,7.03578,18.52357,13.86615,29.44667,17.96971C319.99594,795.63571,355.31442,799.025,391.34256,796.54,397.24777,796.13262,403.08877,794.79329,408.95943,793.88475Zm459.43215-479.5531q-.42059.05169-.84122.10341a68.18411,68.18411,0,0,1-.86906,7.52993c-3.46082,15.35169-6.71171,30.76165-10.65913,45.9898-4.48016,17.28332-12.56,33.20085-20.13867,49.2573a432.61322,432.61322,0,0,1-43.81115,73.2863c-15.53034,20.92969-31.70761,41.38147-47.72308,61.94785-4.88226,6.2695-9.81605,12.372-9.58714,20.94137a22.92674,22.92674,0,0,1-.497,3.7219c11.56274-12.90867,23.0876-25.4944,34.29865-38.35377,18.94109-21.726,37.168-44.049,52.9812-68.18818,23.25832-35.50422,41.16058-73.271,47.145-115.82959,1.39093-9.89169,2.72155-19.81967,1.37149-29.84493C869.58589,321.36167,868.95274,317.8515,868.39158,314.33165ZM708.05211,641.28552c10.52816-8.69545,21.418-18.17878,32.81769-27.00346,24.04455-18.61338,48.46675-36.739,72.50144-55.36491,9.14283-7.08528,17.08967-15.49282,22.80576-25.73321,1.939-3.47381,3.254-7.12417,2.73626-10.6858-7.03232,3.46129-13.97967,6.947-20.98469,10.31223-9.16173,4.40133-18.49332,8.4658-27.53094,13.10543-18.25528,9.37164-34.14637,21.88962-46.65867,38.17156-7.88991,10.26689-14.93748,21.21414-21.88436,32.15985-3.97293,6.25988-6.94443,13.15117-10.45712,19.70981C710.26162,638.07778,708.83866,640.0448,708.05211,641.28552ZM221.3655,463.89533l-.89652.27463c.48711,3.66853.4504,7.50529,1.564,10.97261,2.82745,8.80344,5.40439,17.81733,9.45631,26.07215,10.39583,21.179,22.80867,41.24961,38.19835,59.17014,15.17274,17.66781,33.11235,32.38523,52.59653,45.13983,12.28092,8.03913,24.18884,16.68936,38.41,21.38705,20.69362,6.83563,41.24135,14.11264,61.8553,21.1899,2.62936.90274,5.28252,1.7363,7.92463,2.602q-12.4846-6.06986-25.18872-11.47645a341.57191,341.57191,0,0,1-61.06-33.89915c-26.73356-18.56417-51.42853-39.45484-73.02148-63.94543-17.77508-20.16041-32.82234-42.05446-44.20119-66.43759C225.25524,471.20034,223.251,467.57555,221.3655,463.89533Zm121.11486-19.65494c-3.82627-6.47747-4.2052-13.07247-5.22669-19.45552-2.31639-14.47459-4.10263-29.03827-6.62762-43.47424-4.37446-25.00974-14.1978-47.85761-28.49524-68.79788-1.13479-1.662-2.5779-3.11346-4.14182-4.97761a31.63129,31.63129,0,0,0-1.29415,3.029,39.33874,39.33874,0,0,0-1.42523,5.52719c-2.12036,15.06112-2.30327,30.15554,1.43475,44.94773a216.027,216.027,0,0,0,32.99351,71.306A42.45308,42.45308,0,0,0,342.48036,444.24039Zm330.77365,44.889c2.14513-.7513,4.0945-1.98147,6.05773-2.00407,3.72862-.043,6.36647-1.73874,9.23144-3.82271,2.238-1.62778,2.18428-2.8956,1.3924-5.10661-5.81216-16.22941-15.119-30.33745-26.14233-43.41218-7.27408-8.62776-16.51006-14.32711-27.04927-18.14655-8.9516-3.244-17.83781-6.67047-26.72448-10.09-1.74916-.67307-3.36868-1.683-5.74918-2.89433-.36528,2.42721-1.08964,4.45538-.87138,6.37636.43838,3.85727,1.57084,7.63214,2.08367,11.48534.5611,4.21622,2.83461,7.38971,5.56374,10.35448a3.28292,3.28292,0,0,0,2.03061,1.11069c6.52109.08336,12.20728,2.70084,17.614,5.91893C650.5713,450.73178,665.9736,466.42239,673.254,489.12943ZM564.77493,736.3644l-.386-.243c-7.58942,6.90447-14.75511,14.3568-22.84471,20.61481-28.74779,22.23826-61.64908,33.879-97.70671,37.13559-7.09141.64047-14.18215.20222-21.277,2.34209a291.23362,291.23362,0,0,0-82.04807,39.71664c-8.33213,5.76576-15.842,12.73189-23.61807,19.27941-1.63057,1.373-2.77868,3.319-4.24665,5.12069,7.54391-.13736,14.30134-1.22927,19.677-6.35795a4.308,4.308,0,0,1,.69187-.43087c24.6992-15.70971,51.773-26.60862,78.55079-37.94251,17.56-7.43235,35.97806-12.82331,53.94856-19.30405,18.0835-6.52142,36.07408-13.298,52.83169-22.89111,14.15-8.10026,27.72137-17.01509,39.25232-28.68424C560.174,742.11491,562.39263,739.15879,564.77493,736.3644Zm64.70528-186.60279.65306-.10746c-.41182-3.87871-.75413-7.76627-1.24732-11.63463-2.33549-18.31923-6.61323-36.18663-14.83147-52.75921-4.65947-9.39607-10.733-18.09914-16.30418-27.03043a54.06674,54.06674,0,0,0-6.65958-9.14492c-5.4112-5.58761-12.64673-8.157-19.8756-10.25287a19.8627,19.8627,0,0,0-15.09308,1.34273c-1.73708.91492-2.46277,1.94847-1.91016,4.1236a26.22709,26.22709,0,0,1,.29706,6.4266c-.00825,3.07624-.16156,6.15205-.16989,9.22825a2.88166,2.88166,0,0,0,2.47026,3.05636c18.35017,4.93839,32.70164,15.79718,44.48778,30.3504,12.83589,15.84955,20.91237,34.148,27.20907,53.34375C628.83961,547.72015,629.15588,548.74221,629.48021,549.76161Zm-112.672-33.71677c.23614-.37873.39038-.51163.39045-.64463a24.75945,24.75945,0,0,0-.06336-2.724,92.64342,92.64342,0,0,1,1.68248-31.36756c2.41649-10.40539,5.57213-20.36523,15.59516-26.4986-2.87629-5.9717-6.14223-11.55968-11.5461-15.59416-3.54669-2.648-7.509-2.93668-11.66119-1.98176-1.58779.36514-3.15594.82221-4.72109,1.27834a21.17425,21.17425,0,0,0-13.4714,10.6607c-4.112,7.75448-4.26793,16.04786-3.22479,24.40709.89442,7.16812,3.52282,13.77286,9.087,18.64583a66.78622,66.78622,0,0,1,13.40375,16.35692C513.74277,511.04423,515.2495,513.47983,516.80819,516.04484Zm56.05255,357.101c30.10507-6.20668,75.969-54.02251,80.04559-83.172-2.1954,2.32817-4.22734,4.734-6.51589,6.86393-7.566,7.04177-16.22122,12.55457-25.26063,17.46846-19.20344,10.43927-34.31477,24.87844-44.05838,44.645A42.603,42.603,0,0,0,572.86074,873.14579Zm88.06488-688.879-.27506-.09776c-1.98407,3.66628-4.20377,7.22634-5.91284,11.01664-9.0253,20.01631-12.14822,41.37709-13.57518,63.00408-1.13665,17.22636,1.39553,34.2563,4.2912,51.19409,3.0759,17.99244,6.60937,35.88,13.244,52.98953,1.45486,3.75183,6.11206,8.68376,10.14784,10.54268-.38991-1.47094-.78742-2.851-1.12094-4.24635-4.87886-20.41769-10.14231-40.766-12.92232-61.6101-1.46038-10.94917-3.02057-21.966-3.24882-32.97893-.31954-15.41611.26327-30.87233,1.04776-46.28147a193.35187,193.35187,0,0,1,3.2726-25.30013C657.01881,196.32177,659.20389,190.33722,660.92562,184.26679Zm-57.452,252.18336c-11.74025-5.97416-23.5722-11.0083-36.22392-13.64072-9.61537-2.00065-19.41321-2.93911-29.05564-.01662-3.05683.92645-6.34118,2.11224-8.679,4.14718-2.96175,2.578-2.6514,13.17477-.36791,16.59641,2.06071,3.08789,3.90824,6.31744,5.89131,9.45826.34164.54113.9315,1.38941,1.3371,1.35142,2.7845-.26037,4.57,1.43165,6.46612,2.98958,3.02077,2.482,6.27792,4.48029,9.859,4.97278.22469-4.83309.48523-9.49672.62922-14.16387a12.26682,12.26682,0,0,0-.46639-3.7526c-.7473-2.56434.26408-4.15094,2.44686-5.3568a20.68878,20.68878,0,0,1,15.07524-1.76567c8.265,1.94814,16.03391,5.22363,22.3685,11.1974.55484.52318,1.19771.95295,1.79969,1.42612l1.0192.37014C594.4247,443.31281,600.68511,441.208,603.47364,436.45015Zm82.31644,165.95249c3.64313-13.27981,4.45259-26.92922,5.32577-40.54222.58647-9.14342,1.22847-18.23138,3.33425-27.18493,3.13556-13.33225,6.7215-26.49264,13.64928-38.46178,1.66373-2.87449,3.5926-5.5955,5.56787-8.64707a30.49675,30.49675,0,0,0-3.387-2.69231,18.36559,18.36559,0,0,0-20.93782,1.57926,13.30873,13.30873,0,0,1-8.32364,3.39,12.4847,12.4847,0,0,0-9.55611,5.18651c2.13641,1.86515,4.55094,3.3243,6.034,5.4372A33.75964,33.75964,0,0,1,681.3805,508.78c3.56476,10.2283,4.96535,20.87565,6.16785,31.60071a208.19112,208.19112,0,0,1-.55391,50.7274C686.498,594.86042,686.18665,598.63712,685.79008,602.40264Zm159.72463-41.56028a8.86225,8.86225,0,0,0,.85853-.957c15.67383-27.15837,27.00959-55.66293,27.572-87.60265A38.86262,38.86262,0,0,0,871.19535,456.91c-.7215-1.80355-1.59668-2.76692-3.55377-1.00082a46.97464,46.97464,0,0,0-14.823,25.09707c-.27692,1.23373-.40523,2.90405.20188,3.8627a23.04964,23.04964,0,0,1,3.47055,12.90237c-.09,13.55893-2.21418,26.85016-5.24407,40.01188C849.51054,545.3261,847.52062,552.81062,845.51471,560.84236ZM463.72811,674.10048c8.53208.571,16.39433,1.25677,24.2715,1.59076,15.96966.67722,31.36593,4.10043,46.50419,9.04274,13.85493,4.52337,27.64673,9.47748,42.52755,9.29843,4.24971-.0512,8.496-.39657,12.70885-.60531C550.27794,670.79313,508.83555,662.32973,463.72811,674.10048ZM654.41305,519.35485c-7.6843,12.77058-14.03127,26.10155-18.05706,40.43395-6.11173,21.75906-9.00679,43.75342-3.99543,66.18018,3.46243,15.49512,8.6513,30.35815,16.67672,44.14626a8.85756,8.85756,0,0,0,5.6238,4.107C631.26087,622.40615,633.50454,570.89811,654.41305,519.35485Zm197.887-34.24971c-.55571.72709-.97492,1.17793-1.2842,1.69452-6.90921,11.54147-10.99665,23.85325-11.00964,37.48506-.00972,10.1487-.49565,20.30206-.97372,30.44374a63.78361,63.78361,0,0,1-7.85063,28.225c-.54359.98331-1.03192,1.99718-1.54588,2.99687q.46383.252.92772.504c4.1995-7.24538,9.22059-14.14806,12.41808-21.81152,5.68426-13.62415,8.49762-28.16785,10.68237-42.73675,1.21888-8.12775,1.75641-16.377,2.20346-24.59313A19.07378,19.07378,0,0,0,852.30007,485.10514Zm-402.256,2.34634.55025.11253q.75047-1.41179,1.50074-2.82365c3.93147-7.4211,8.06806-14.60376,15.44914-19.361,3.40726-2.19607,5.62443-2.28039,7.77369,1.26546a32.54671,32.54671,0,0,1,3.13893,7.19518c1.69915,5.478,5.71931,8.4648,11.09323,11.08214-3.6753-6.95078-6.81333-13.4969-10.53226-19.69452a64.04245,64.04245,0,0,0-8.39126-10.64532c-1.2902-1.37359-3.736-2.664-5.44982-2.4364-4.02306.5345-6.90128-1.32053-10.15157-2.96421-1.96825-.99527-4.47053-1.11528-6.75369-1.23663-1.29483-.06885-2.35081.73745-1.88559,2.52472,2.67207,10.26493,3.14419,20.7642,3.257,31.30205C449.66315,483.66623,449.90471,485.55831,450.04407,487.45148Zm41.73477-2.4071c-3.78283-7.83465-4.37839-16.0685-3.47538-24.47428a30.42985,30.42985,0,0,1,7.183-17.27826,36.03274,36.03274,0,0,0,6.435-9.67673c2.01207-4.97181.4336-6.21909-4.16268-5.501a13.28567,13.28567,0,0,0-3.14945.78129c-10.84527,4.62395-18.39491,12.9147-25.14145,22.43092C480.81485,460.15638,484.49773,473.7545,491.77884,485.04438ZM715.03016,623.46982c15.36234-31.66706,23.57086-64.48981,16.37009-99.5863C729.97442,557.59087,723.75084,590.73855,715.03016,623.46982Zm27.00146,106.46285-.30189-.19489c.81692-.29716,1.64469-.56776,2.44909-.89555,15.81645-6.44565,27.50157-17.69605,36.53293-31.86175,4.40945-6.91633,8.96924-13.64875,15.0323-19.24073.78375-.7229,1.60939-1.40032,2.41566-2.09878-4.44287.8249-7.90756,3.18576-11.056,6.03489a155.65073,155.65073,0,0,0-24.22059,27.86405,36.226,36.226,0,0,1-4.93419,6.1355C752.75062,720.54262,747.35133,725.19517,742.03162,729.93267Z" transform="translate(-175.14401 -154.88361)"/><path fill="%23c19896" d="M394.142,599.77651q9.50642,9.553,19.01291,19.10609l.34114-.33292-19.121-18.99237Z" transform="translate(-175.14401 -154.88361)"/></svg>') center center no-repeat; }

.site-header__logo a {
  display: block; }
  .site-header__logo a svg {
    width: 100%;
    height: auto; }
    @media (min-width: 992px) {
      .site-header__logo a svg {
        position: relative;
        top: -6px; } }

[class^='row'] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; }
  @media (max-width: 992px) {
    [class^='row'][class*='bp--m--w'] {
      flex-wrap: wrap; } }
  @media (max-width: 768px) {
    [class^='row'][class*='bp--s--w'] {
      flex-wrap: wrap; } }
  [class^='row'][class*='--wrap'] {
    flex-wrap: wrap; }
  [class^='row'][class*='--a-t'] {
    align-items: flex-start; }
  [class^='row'][class*='--a-b'] {
    align-items: flex-end; }
  [class^='row'] [class^='col'] {
    position: relative; }
    [class^='row'] [class^='col'][class*='--1'] {
      flex: 1; }
    [class^='row'] [class^='col'][class*='--a-l'] {
      text-align: left; }
    [class^='row'] [class^='col'][class*='--a-r'] {
      text-align: right; }
    [class^='row'] [class^='col'][class*='--p-t'] {
      padding-top: 1.5em; }
    [class^='row'] [class^='col'][class*='--p-r'] {
      padding-right: 1.5em; }
    [class^='row'] [class^='col'][class*='--p-b'] {
      padding-bottom: 1.5em; }
    [class^='row'] [class^='col'][class*='--p-l'] {
      padding-left: 1.5em; }
    [class^='row'] [class^='col'][class*='--100'] {
      width: 100%; }
    [class^='row'] [class^='col'][class*='--75'] {
      width: 75%; }
    [class^='row'] [class^='col'][class*='--70'] {
      width: 70%; }
    [class^='row'] [class^='col'][class*='--66'] {
      width: 66.66%; }
    [class^='row'] [class^='col'][class*='--50'] {
      width: 50%; }
    [class^='row'] [class^='col'][class*='--33'] {
      width: 33.33%; }
    [class^='row'] [class^='col'][class*='--30'] {
      width: 30%; }
    [class^='row'] [class^='col'][class*='--25'] {
      width: 25%; }
    [class^='row'] [class^='col'][class*='overlap'] {
      z-index: 10; }
      [class^='row'] [class^='col'][class*='overlap'][class*='--right'] {
        margin-right: -5rem;
        width: calc(25% + 5rem); }
      [class^='row'] [class^='col'][class*='overlap'][class*='--left'] {
        margin-left: -5rem;
        width: calc(25% + 5rem); }
        @media (max-width: 1200px) {
          [class^='row'] [class^='col'][class*='overlap'][class*='--left'] {
            margin-left: -3rem;
            width: calc(35% + 3rem); } }
        @media (max-width: 1100px) {
          [class^='row'] [class^='col'][class*='overlap'][class*='--left'] {
            margin-left: 0;
            width: 50%; } }
        @media (max-width: 992px) {
          [class^='row'] [class^='col'][class*='overlap'][class*='--left'] {
            width: 100%; } }
    @media (max-width: 992px) {
      [class^='row'] [class^='col'][class*='bp--m'] {
        width: 100%; } }
    @media (max-width: 768px) {
      [class^='row'] [class^='col'][class*='bp--s'] {
        width: 100%; } }

.site-header, .megamenu, .site-nav--has-dropdown.is-focused > a, .site-nav--has-dropdown:hover > a, .site-nav__dropdown a {
  background: #f7f6f3; }

.site-header--stuck {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .site-header--stuck.site-header--hide {
    top: -115px; }

hr {
  margin: 1.5em auto; }

body, input, textarea, button, select, .faux-select, .variant-input-wrap label {
  color: #102927; }

body, .site-nav__link, .site-header__logo a, .header-logo a, .footer__title, .site-footer, .collection-item__title--overlaid-box > span, a, .text-link {
  color: #102927; }

.announcement-bar {
  background: #102927; }

h5, .h5, h6, .h6 {
  text-transform: none; }

h4, .h4, h5, .h5 {
  font-size: 21.6px;
  text-transform: capitalize; }

[data-section-type*='header-section'] .site-nav__link {
  font-size: 18px;
  text-transform: none;
  padding: .15em .5rem;
  margin: 0 1.5rem; }
  [data-section-type*='header-section'] .site-nav__link:after {
    border-color: #102927; }

[data-section-type*='header-section'] .megamenu {
  border-bottom: 1px solid #e8e8e1; }
  [data-section-type*='header-section'] .megamenu a {
    font-size: 16px; }
  [data-section-type*='header-section'] .megamenu .h5 a {
    font-size: 21.6px; }

@media (max-width: 768px) {
  .footer-promotions {
    margin-bottom: 6rem; }
  .site-header__logo a svg {
    width: 120%;
    margin-top: -5px; }
  .small--one-half {
    width: 80%;
    margin-left: 10%; } }

.page-content {
  margin: 1.5rem auto; }

.section-header__title {
  margin: 1.5rem 0; }

.index-section--faq {
  margin: 3rem 0 0 0; }

.article__body.rte img {
  margin: 1.5em 0; }

.article__body.rte gallery {
  margin-top: -.5em; }

.article__title {
  font-size: 21.6px;
  line-height: 1em; }

.article__date {
  padding-bottom: .5rem; }

.promo-grid__container {
  background: rgba(193, 152, 150, 0.7) !important; }

.collapsible-trigger-btn {
  text-transform: none;
  font-size: 18px; }

.collapsible-content__inner {
  text-transform: none;
  font-size: 16px; }

.tag.tag--remove a, .js-drawer-open-collection-filters.btn.btn--tertiary.btn--tertiary-active {
  background: #c19896;
  border: 0; }
  .tag.tag--remove a:hover, .js-drawer-open-collection-filters.btn.btn--tertiary.btn--tertiary-active:hover {
    background: #d4b7b6 !important; }

.type-banner__text {
  font-size: 18px;
  text-align: left; }
  .type-banner__text p {
    position: relative;
    z-index: 2; }
  .type-banner__text:before {
    content: none;
    position: absolute;
    z-index: 1;
    top: -50%;
    right: -20%;
    width: 600px;
    height: 600px; }
    @media (max-width: 768px) {
      .type-banner__text:before {
        width: 400px;
        height: 400px; } }
  @media (max-width: 768px) {
    .type-banner__text:before {
      content: ""; } }

footer li a, .site-footer .footer__collapsible {
  font-size: 16px; }

footer input {
  font-size: 16px; }

.background-media-text__text .h3 {
  font-size: 32px; }

.grid-product__content {
  padding: .4rem; }

.collection-item, .article__grid-image {
  border: .4rem solid #fff; }

.site-header__logo {
  line-height: 1.1em; }

.social-sharing {
  text-align: left; }

.product__photos {
  margin-top: 1rem; }
  .product__photos .product__main-photos {
    max-height: 800px; }

.js-mobile-only {
  display: none; }

.js-flex-s {
  display: flex; }

@media (max-width: 768px) {
  .js-flex-s {
    display: block; }
  .js-desktop-only {
    display: none; }
  .js-mobile-only {
    display: block; } }

.template-index .shopify-section.index-section--flush {
  margin-top: 75px; }

.template-index .hero__image-wrapper:before, .template-index .hero__media:before {
  opacity: .25; }

.template-index .hero__image {
  animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s forwards !important; }

.template-index .h1.hero__title .animation-cropper {
  overflow: visible; }

.template-index .h1.hero__title .animation-contents {
  animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s forwards !important; }
  .template-index .h1.hero__title .animation-contents svg {
    width: 950px;
    max-width: 75vw;
    margin-left: -6vw; }
    @media (max-width: 768px) {
      .template-index .h1.hero__title .animation-contents svg {
        width: 950px;
        max-width: 105vw;
        margin-left: -18vw; } }

@media (max-width: 768px) {
  .template-index .background-media-text__container {
    height: 375px; } }

.template-index .background-media-text__aligner {
  margin: 90px 60px; }
  @media (max-width: 992px) {
    .template-index .background-media-text__aligner {
      margin: 60px; } }
  @media (max-width: 768px) {
    .template-index .background-media-text__aligner {
      margin: 0; } }
  .template-index .background-media-text__aligner .animation-contents {
    animation: none !important;
    opacity: 1 !important; }
    .template-index .background-media-text__aligner .animation-contents .background-media-text__text {
      padding: 5rem;
      width: 66.6%;
      min-width: 300px; }
      @media (max-width: 992px) {
        .template-index .background-media-text__aligner .animation-contents .background-media-text__text {
          padding: 3rem;
          width: 75%; } }
      @media (max-width: 768px) {
        .template-index .background-media-text__aligner .animation-contents .background-media-text__text {
          padding: 1.5rem 1.5rem 5rem 1.5rem;
          width: 100%;
          text-align: left; } }

@media (max-width: 768px) {
  .template-index .page-width {
    overflow: hidden; }
  .template-index .flex-grid__item.flex-grid__item--50.type-sale_collection {
    display: none; }
  .template-index .grid__item.small--one-half.medium-up--one-third {
    width: 70%;
    float: none; }
    .template-index .grid__item.small--one-half.medium-up--one-third.js-left {
      margin-left: -10%; }
    .template-index .grid__item.small--one-half.medium-up--one-third.js-center {
      margin-left: 15%; }
    .template-index .grid__item.small--one-half.medium-up--one-third.js-right {
      margin-left: 40%;
      margin-right: -10%; }
  .template-index .shopify-section.index-section--flush {
    margin-top: 0; }
    .template-index .shopify-section.index-section--flush .background-media-text {
      display: flex;
      flex-wrap: wrap; }
      .template-index .shopify-section.index-section--flush .background-media-text .background-media-text__container {
        order: 2; }
      .template-index .shopify-section.index-section--flush .background-media-text .background-media-text__inner {
        order: 1; } }

.template-index .promo-grid__container {
  background: #fff !important;
  justify-content: flex-start; }
  .template-index .promo-grid__container .promo-grid__text {
    text-align: left;
    padding-left: 3rem; }
    .template-index .promo-grid__container .promo-grid__text .rte--block.rte--strong {
      display: inline;
      position: relative;
      color: #102927;
      line-height: 1.5em;
      box-shadow: -25px 0 0 #fff;
      padding: 15px 20px 15px 0;
      background-color: #fff; }
      @media (max-width: 768px) {
        .template-index .promo-grid__container .promo-grid__text .rte--block.rte--strong {
          box-shadow: -15px 0 0 #fff;
          padding: 5px 15px 5px 0; } }
    .template-index .promo-grid__container .promo-grid__text .btn.btn--inverse {
      display: block;
      max-width: 150px;
      margin: 3rem 0 0 -25px;
      font-size: 16px; }
      @media (max-width: 768px) {
        .template-index .promo-grid__container .promo-grid__text .btn.btn--inverse {
          margin: 1.5rem 0 0 -15px; } }

.template-index .collection-item.collection-item--overlaid-box {
  position: relative;
  overflow: visible; }
  @media (max-width: 768px) {
    .template-index .collection-item.collection-item--overlaid-box {
      height: 110px; } }
  .template-index .collection-item.collection-item--overlaid-box .image-wrap {
    position: relative;
    top: 1em;
    left: 1em;
    overflow: hidden; }
    @media (max-width: 768px) {
      .template-index .collection-item.collection-item--overlaid-box .image-wrap {
        height: 100%; } }
    .template-index .collection-item.collection-item--overlaid-box .image-wrap:before {
      content: "";
      position: absolute;
      top: -50%;
      left: -20%;
      width: 600px;
      height: 600px; }
      @media (max-width: 768px) {
        .template-index .collection-item.collection-item--overlaid-box .image-wrap:before {
          width: 400px;
          height: 400px; } }
  .template-index .collection-item.collection-item--overlaid-box:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #102927;
    box-sizing: border-box; }
  .template-index .collection-item.collection-item--overlaid-box:after {
    content: "";
    position: absolute;
    top: 1em;
    left: 1em;
    width: 100%;
    height: 100%;
    background: #c19896;
    opacity: .7;
    box-sizing: border-box; }
  .template-index .collection-item.collection-item--overlaid-box .collection-image {
    padding-bottom: 50%;
    background: none !important; }
  .template-index .collection-item.collection-item--overlaid-box .collection-item__title--overlaid-box > span {
    background: none; }
  .template-index .collection-item.collection-item--overlaid-box .collection-item__title span {
    text-transform: capitalize;
    font-size: 32px; }
    @media (max-width: 992px) {
      .template-index .collection-item.collection-item--overlaid-box .collection-item__title span {
        font-size: 28px;
        line-height: 1em; } }
    @media (max-width: 768px) {
      .template-index .collection-item.collection-item--overlaid-box .collection-item__title span {
        font-size: 24px; } }
  .template-index .collection-item.collection-item--overlaid-box:hover:after {
    opacity: 1; }

.template-index .promo-grid__container--framed:not(.promo-grid__container--boxed):after {
  border-width: 1rem; }

.template-index .flex-grid__item.flex-grid__item--50.type-sale_collection {
  margin-top: 3rem; }
  .template-index .flex-grid__item.flex-grid__item--50.type-sale_collection .rte--block.rte--em {
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: -.65em; }
  .template-index .flex-grid__item.flex-grid__item--50.type-sale_collection .rte--block.rte--strong {
    background: none;
    padding-top: 0; }

.template-index .type-sale-images {
  position: absolute;
  right: -1rem;
  width: calc(55% + 1rem);
  height: calc(100% + 1rem);
  background: #d4b7b6;
  overflow: hidden; }
  .template-index .type-sale-images:before {
    content: "";
    position: absolute;
    width: 600px;
    top: -50%;
    right: -20%;
    height: 600px; }
  @media (max-width: 768px) {
    .template-index .type-sale-images {
      width: 50%; } }
  .template-index .type-sale-images .placeholder-svg {
    fill: transparent;
    background-color: transparent; }

[class*='grid-item--'][class*='--product'][class*='--image'] {
  height: 0;
  padding-bottom: 150%;
  margin: 0;
  background-size: cover;
  background-position: center center; }
  [class*='grid-item--'][class*='--product'][class*='--image'].is-landscape {
    padding-bottom: 75%;
    margin: 37.5% 0 0 0; }

.template-index [class*='grid-item--'][class*='--product'][class*='--image'] {
  padding-bottom: 150%; }
  .template-index [class*='grid-item--'][class*='--product'][class*='--image'].is-landscape {
    padding-bottom: 150%;
    margin: 0; }

.template-search .main-content {
  min-height: 0; }
  .template-search .main-content .search-bar--page {
    max-width: 500px; }

.section-header, .rte.text-spacing, .rte.text-spacing:last-child {
  margin-bottom: 1.5rem; }

.grid-product__title {
  text-transform: capitalize;
  font-size: 1.2em; }

[class*='product-info'], [class*='article-info'] {
  max-width: 500px;
  margin: auto; }
  [class*='product-info'][class*='--links'], [class*='article-info'][class*='--links'] {
    text-align: left; }
    [class*='product-info'][class*='--links'] a:hover, [class*='article-info'][class*='--links'] a:hover {
      text-decoration: underline; }
  [class*='product-info'][class*='--nav'], [class*='article-info'][class*='--nav'] {
    margin: 1.5em auto;
    font-size: .85em; }
    [class*='product-info'][class*='--nav'] a, [class*='article-info'][class*='--nav'] a {
      color: #999;
      display: block;
      position: relative; }
      [class*='product-info'][class*='--nav'] a span, [class*='article-info'][class*='--nav'] a span {
        font-weight: 500; }
      [class*='product-info'][class*='--nav'] a.nav--prev::before, [class*='article-info'][class*='--nav'] a.nav--prev::before {
        padding-right: .5em;
        content: "\2190"; }
      [class*='product-info'][class*='--nav'] a.nav--next, [class*='article-info'][class*='--nav'] a.nav--next {
        max-width: 225px; }
        [class*='product-info'][class*='--nav'] a.nav--next:after, [class*='article-info'][class*='--nav'] a.nav--next:after {
          padding-left: .5em;
          content: "\2192"; }
      [class*='product-info'][class*='--nav'] a:hover, [class*='article-info'][class*='--nav'] a:hover {
        color: #102927; }

.btn {
  text-transform: capitalize;
  font-size: 14px; }

.breadcrumb a {
  color: #999; }
  .breadcrumb a:hover {
    color: #102927; }

.breadcrumb .divider {
  color: #d5c6bb;
  padding: 0 .5em; }

.template-list-collections a.collection-item span {
  font-size: 21.6px;
  text-transform: capitalize; }

.site-footer {
  background: #d4b7b6;
  padding-top: 90px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden; }
  .site-footer .page-width {
    position: relative;
    z-index: 2; }
  .site-footer:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: -100px;
    width: 600px;
    height: 600px; }
    @media (max-width: 768px) {
      .site-footer:after {
        width: 400px;
        height: 400px; } }
  .site-footer hr {
    border-color: transparent;
    margin: 90px 0 0 0; }
  .site-footer .footer__small-text {
    text-align: left; }
  .site-footer .footer__newsletter input {
    background: transparent;
    border-color: #c19896; }

[class^='card'][class*='--intro-section'] {
  margin: 5rem 0;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    [class^='card'][class*='--intro-section'] {
      margin: 3rem 0 0 0; } }
  [class^='card'][class*='--intro-section'] .text {
    padding-right: 10rem; }
    @media (max-width: 992px) {
      [class^='card'][class*='--intro-section'] .text {
        padding-right: 3rem; } }
    [class^='card'][class*='--intro-section'] .text h2 {
      margin-bottom: 3rem; }
  [class^='card'][class*='--intro-section'] .image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    z-index: 1; }
  [class^='card'][class*='--intro-section'] [class^='image-box'] {
    background: #d4b7b6;
    height: 0;
    width: 100%;
    padding-bottom: 115%; }
    @media (max-width: 992px) {
      [class^='card'][class*='--intro-section'] [class^='image-box'] {
        padding-bottom: 150%; } }
    @media (max-width: 768px) {
      [class^='card'][class*='--intro-section'] [class^='image-box'] {
        padding-bottom: 125%; } }
    [class^='card'][class*='--intro-section'] [class^='image-box'][class*='--overlap'] {
      margin: 5rem 0;
      width: 115%;
      padding-bottom: 65%;
      border: 3rem solid #d4b7b6;
      position: relative;
      z-index: 5; }
      @media (max-width: 768px) {
        [class^='card'][class*='--intro-section'] [class^='image-box'][class*='--overlap'] {
          width: 100%; } }
  [class^='card'][class*='--intro-section'] .nudge--right {
    margin-top: 5rem;
    margin-left: calc(15% + 3rem); }
    @media (max-width: 768px) {
      [class^='card'][class*='--intro-section'] .nudge--right {
        margin: 3rem 0; } }
  [class^='card'][class*='--intro-section'] .overlap--up {
    padding: 5rem;
    box-sizing: border-box;
    background: #d4b7b6;
    width: calc(100% - 2.5rem);
    position: relative;
    z-index: 2;
    left: -5rem;
    top: -5rem; }

[class^='card'] .inner-text {
  padding-left: 3rem;
  max-width: 85%; }
  @media (max-width: 768px) {
    [class^='card'] .inner-text {
      padding: 0;
      max-width: 100%;
      margin: 3rem 0; } }

[class^='card'] .featured--foot {
  margin: 3rem auto;
  padding: 0 7.5rem;
  max-width: 1065px; }
  @media (max-width: 768px) {
    [class^='card'] .featured--foot {
      padding: 0; } }

[class^='card'][class*='--featured'] {
  margin: 5rem 0;
  box-sizing: border-box; }
  @media (max-width: 1100px) {
    [class^='card'][class*='--featured'] {
      margin: 0; } }
  [class^='card'][class*='--featured'] .text {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d4b7b6; }
    [class^='card'][class*='--featured'] .text .content {
      padding: 5rem 7.5rem; }
      @media (max-width: 1200px) {
        [class^='card'][class*='--featured'] .text .content {
          padding: 3rem 7.5rem 3rem 3rem; } }
      @media (max-width: 1100px) {
        [class^='card'][class*='--featured'] .text .content {
          padding: 3rem 3rem; } }
  [class^='card'][class*='--featured'] .image {
    background: #d5c6bb;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    z-index: 5; }
  [class^='card'][class*='--featured'] [class^='flag'] {
    text-transform: uppercase;
    letter-spacing: .1em;
    display: inline-block;
    padding: .5em 1em;
    background: #fff;
    margin: 0 0 2.5rem 0; }
