$size-xl:1600px;
$size-l:1100px;
$size-m:992px;
$size-s:768px;
$size-xs:576px;

@mixin animation($speed){
  -webkit-transition: all $speed ease;
	-moz-transition: all $speed ease;
	-o-transition: all $speed ease;
	transition: all $speed ease;
} 
