@import "_variables.scss";
@import "_grid-item.scss";

.homepage-collection{
  padding: 65px 0;
  .col--max-4.product-grid-item{
    @media(max-width: $size-l){
      &:nth-last-child(1), &:nth-last-child(2){
        display: none;
      }
    }
    @media(max-width: $size-xs){
      &:nth-last-child(3){
        display: none;
      }
    }
  }
}

// start grid item

.product-grid-item .btn--add-to-cart:hover .price, .bmkbm-element .btn--add-to-cart:hover .price{
  border-color:#bbb;
}

[class^='flag--']{
  position: absolute;
  top:1.5rem;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  height: 36px;
  line-height: 1em;
  padding: 5px 1.5rem 5px .75rem;
  text-align: left;
  color:#fff;
  font-family: $font1;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 0;
  &[class*='--lg']{
    transform: scale(1.5);
    transform-origin: top left;
  }
  &[class*='--sale']{
    &:before, &:after{
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      height: 50%;
      width: 100%;
    }
    &:before{
      top:0;
      border-top: 20px solid $red-lt;
      border-right:14px solid transparent;
    }
    &:after{
      bottom:0;
      border-bottom: 20px solid $red-lt;
      border-right:14px solid transparent;
    }
  }
}

.product-grid-item, .pdp-add-to-cart{
  @include animation(.25s);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: scale(.92);
  transform-origin: center center;
  overflow: hidden;
  margin-bottom: .5rem;
  a{
    text-decoration: none;
  }
  form{
    margin-bottom: .5em;
  }
  .grid__image{
    width: 100%;
    height:0;
    padding-bottom: 100%;
  }
  .dynamic-poster-image{
    @include animation(.5s);
    position: relative;
    &:before{
      @include animation(.5s);
      pointer-events: none;
      content: "";
      background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
      position: absolute;
      z-index: 5;
      top: -25%;
      left: -25%;
      height: 150%;
      width: 150%;
    }
  }
  &:hover{
    transform: scale(.94);
    .dynamic-poster-image:before{
      top: -15%;
      left: -15%;
    }
    .btn--add{
      opacity: 1 !important;
    }
  }
  &.pdp-add-to-cart, &.pdp-add-to-cart:hover{
    transform: scale(1);
    .btn--add{
      opacity: 1 !important;
      &:hover{
        background: $red-md;
      }
    }
  }
}

[class^='grid-item--'], .pdp-add-to-cart{
  &[class*='--info']{
    padding: .75rem 1rem;
    text-align: left;
    background: $offwhite-dk;
    [class^='checkmark']{
      svg{
        height: 1.15em;
        width: auto;
        padding-left: .25rem;
      }
      span, svg{
        font-family: $font1;
        display: inline-block;
        vertical-align: middle;
        color:$gray-md;
        path{
          fill:$gray-md;
        }
      }
      &[class*='--nks']{
        span, svg{
          color:$gray-dk;
          font-weight: 600;
          path{
            fill:$green;
          }
        }
      }
    }
  }
  &[class*='--title']{
    @include text-titles;
    line-height: 1.15em;
    color: $black-si;
    text-align: left;
    display: flex;
    align-items: center;
    height: 2.25em;
    text-transform: none;
  }
  &[class*='--price']{
    display: inline-block;
    @include text-titles;
    font-style: italic;
    font-weight: 700;
    background: #fff;
    padding: 0 .75rem;
    border-radius: 15px;
    color: $black-si;
    .stricken{
      display: inline-block;
      padding-right: .1em;
      font-size: .75em;
      font-weight: 400;
      color:$gray-md;
    }
  }
  &[class*='--buttons']{
    padding: .75rem 1rem;
    text-align: center;
    background: #fff;
    border-top: 3px solid $gray-lt;
    form{
      margin-bottom: 0;
    }
    [class*='--add']{
      opacity: .8;
      display: inline-block;
      @include text-titles;
      font-size: 14px;
      letter-spacing: .05em;
      font-weight: 900;
      padding: .4em 2em;
      text-transform: uppercase;
      border-radius: 25px;
      color: #fff;
      background: $red-lt;
      border: 0;
      &:hover{
        background: $red-md;
      }
    }
  }
  &.pdp-add-to-cart{
    .grid-item--title{
      font-size: 24px;
      margin: .25em 0;
    }
  }
}
// end grid item

//ig issue
#Instafeed-index-instagram{
  width: 100%;
}

.bg-gradient{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body{
  @media(max-width: 840px){
    @include animation(.5s);
    position: relative;
    right: 0;
    opacity: 1;
    &.mobile-menu-active{
      right:208px;
      // opacity: .85;
    }
  }
}

.free-btn span{
  @include animation(.5s);
  border: 3px solid $red-md;
  background: $red-lt;
  border-radius: 25px;
  padding: .5em 1.5em;
  margin: -.5em 0;
  display: block;
  color: rgba(255,255,255,1);
  text-transform: none;
  position: relative;
  letter-spacing: 0;
  font-weight: 700;
  &:before{
    @include animation(.5s);
    content: "";
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $red-md;
    border-radius: 25px;
    opacity: 1;
  }
  &:hover{
    background: $red-md;
    &:before{
      opacity: 0;
      top:-15px;
      left: -15px;
      height: calc(100% + 30px);
      width: calc(100% + 30px);
      transform-origin: center center;
    }
  }
}

.icon-catetgory{
  text-align: center;
  .image{
    @include animation(.5s);
    transform: scale(1);
    width: 60px;
    height: 60px;
    margin: 0 auto 1em auto;
    background: radial-gradient(#444,#222);
    overflow: auto;
    border-radius: 100%;
  }
  &:hover{
    .image{
      transform: scale(1.1);
      transform-origin: center center;
    }
  }
}

.nav-wrapper{
  z-index: 10;
  position: relative;
  background: #fff;
}

.block-nav{
  @include animation(.5s);
  top:-100px;
  max-height: 0;
  overflow: hidden;
  position: relative;
  z-index: 5;
  &.active{
    top:0;
    max-height: 60vh;
  }
  text-align: left;
  position: relative;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  &:before{
    opacity: .75;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #333 linear-gradient(to bottom right, #222, #050505);
  }
  div{
    position: relative;
    z-index: 5;
  }
  color:#fff;
  a{
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 1.25em;
    margin-bottom: 2em;
    &:hover{
      text-decoration: underline;
    }
  }
  .browse-all{
    font-size: 14px;
    font-weight: 400;
    font-family: "Questrial","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 0;
    text-transform: none;
    display: inline-block;
    margin-left: 1rem;
  }
  .title--red{
    font-size: 15px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #E83333;
  }
  .title--green{
    font-size: 15px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #219933;
  }
}

.logo-image{
  width: 150px;
}

.logo-container{
  display: inline-block;
  max-width: 200px;
  .header-logo .logo-image{
    width: 150px;
  }
}

#shop-nav{
  span{
    display: inline-block;
    vertical-align: middle;
    &.down-chevron{
      @include animation(.5s);
      transform: rotate(-90deg);
      display: inline-block;
      text-align: center;
      font-size: 10px;
      line-height: 14px;
      height: 18px;
      width: 18px;
      // background: radial-gradient(#fff,#eee);
      // border: 1px solid #ddd;
      // border-radius: 100%;
      svg{
        height: 15px;
        width: 12px;
        path{
          fill:#666;
        }
      }
    }
  }
  &.active{
    color:#000;
    .down-chevron{
      transform: rotate(0);
      transform-origin: center center;
      svg path{
        fill:#000;
      }
    }
  }
  &:hover{
    color:#E83333;
    cursor: pointer;
    .down-chevron svg path{
      fill:#E83333;
    }
  }
}

.row, .grid-uniform{
  &.m-0{
    margin: 0 !important;
  }
  &.i-c{
    align-items: center;
  }
  &.j-c{
    justify-content: center;
  }
  display: flex;
  &.grid-uniform{
    // border: 1px dashed red;
    flex-wrap: wrap;
    @media(max-width: 600px){
      justify-content: center;
    }
  }
  // align-items: center;
  // justify-content: center;
  margin: 0 -1.5rem;
  [class*='col']{
    padding:1.5rem;
    box-sizing: border-box;
    &[class*='--1']{
      flex:1;
    }
    &[class*='--2']{
      flex:2;
    }
    &[class*='--3']{
      flex:3;
    }
    &[class*='--4']{
      flex:4;
    }
    &[class*='--5']{
      flex:5;
    }
    &[class*='--6']{
      flex:6;
    }
    &[class*='--max-4']{
      width:25%;
      padding:0;
      @media(max-width: $size-l){
        width:33.3%;
      }
      @media(max-width: $size-s){
        width:50%;
      }
      @media(max-width: 600px){
        width:100%;
        max-width: 325px;
      }
    }
    &.a-l{
      text-align: left !important;
    }
    &.a-r{
      text-align: right !important;
    }
    &.b-r{
      border-right:1px solid #444;
    }
    &.mb-0{
      margin-bottom: 0 !important;
    }
    &.p-0{
      padding:0 !important;
    }
    &.pt-0{
      padding-top:0 !important;
    }
  }
}

[class*='--flex']{
  max-width: 500px;
  margin: auto;
  &[class*='title'], &[class*='content']{
    margin-bottom: 1.5rem;
  }
  &[class*='image']{
    max-width: 1000px;
  }
}

.yt-tabs{
  background: none;
  .yt-tab{
    background: none;
    width:85% !important;
    color:#fff;
    &:hover{
      background: none;
      text-decoration: underline;
    }
    &.yt-tab-active{
      background:#9c1d14;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        top:0;
        right: -60px;
        border-top:30px solid transparent;
        border-right:30px solid transparent;
        border-bottom:25px solid transparent;
        border-left:30px solid #9c1d14;
        width: 50px;
        height: 50px;
      }
    }
  }
}

.canvas-container{
  @include animation(5s);
  position: relative;
  opacity: 0;
  &.activated{
    opacity: 1;
  }
  .bg-canvas{
    @include animation(10s);
    opacity: 0;
    &.activated{
      opacity: .65;
      &.full-op{
        opacity: 1;
        z-index: -1;
      }
    }
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
  }
}

.collection{
  @media(max-width: 840px){
    padding-top: 0;
  }
}

.collection-hero{
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 840px){
    margin-top: 60px;
    min-height: 225px;
  }
  [class^="content"]{
    position: relative;
    z-index: 5;
    color: #fff;
    padding: 3rem;
    max-width: 500px;
    margin: auto;
    text-align: center;
    h1{
      font-size: 38px;
      font-weight: 700;
    }
  }
}

[class^='header__']{
  .info-bar{
    position: relative;
    z-index: 10;
  }
  header{
    @include animation(.5s);
    z-index: 5;
    position: relative;
    top:0;
    &.inactive{
      top:-4.5em;
    }
  }
  @media(max-width: 840px){
    .info-bar{
      .header-message{
        display: none;
      }
      .wrapper{
        position: absolute;
        right: 3rem;
        top: -.15rem;
      }
    }

    header{
      .wrapper{
        padding: 10px;
      }
      position: fixed;
      top:0;
      width:100%;
      &.inactive{
        top:0;
      }
    }

    .nav--mobile{
      .nav-carat{
        font-size: 1rem;
        position: relative;
        top:-6px;
      }
      .header-logo{
        padding: 5px;
        img{
          max-width: none;
          width:160px;
        }
      }
      .main-menu-dropdown{
        background: none;
        ul{
          margin: 0;
          border-left: 2px solid #ccc;
          li a{
            text-transform: none;
            padding: .5rem 1em;
            font-weight: 400;
            line-height: 1.25rem;
          }
        }
      }
      .header-menu.nav-wrapper {
        @include animation(.5s);
        position: fixed;
        display: block;
        right:-220px;
        top:63px;
        width: 220px;
        height: calc(100% - 63px);
        overflow-y: scroll;
        box-sizing: border-box;
        background:#eee;
        padding: 1em;
        &.main-menu--expanded{
          right:-12px;
        }
      }
    }
  }
}

.header_cart_cost_custom{
  @media(max-width:$size-m){
    display: none;
  }
}


// product page nav tabs
.product-nav {
  @include animation(.5s);
  width:10em !important;
  margin: 0 !important;
  opacity: 0;
  left:-10em;
  background-color: #dfdfdf;
  border:1px solid #ccc;
  border-left: 5px solid #9c1c13;
  padding: 1em 0;
  position: fixed;
  z-index: 999;
  @media(max-width: 840px){
    display: none;
  }
  &.fixed-menu{
    left: 0;
    opacity: 1;
  }

  .product-nav--container {
    display: block;
    padding: .5em;
  }

  .product-nav--item {
    text-align: left;
    padding: .5em .25em;

/*   	@media screen and (max-width: 480px) {
      width: 100%;
      padding: 5px 0;
    } */
  }

  a {
    @include animation(.25s);
    display:block;
    text-decoration: none;
    padding:.25em .5em;
    position: relative;
    h2 {
      color: inherit;
      font-size: 14px;
      margin: 0;
      font-family: "Questrial","Helvetica Neue",Arial,sans-serif;
      font-weight: 400;
      text-transform: none;

      @media screen and (max-width: 580px) {
        font-size: 10px !important;
        margin: 5px 10px;
      }
    }
    &:after{
      @include animation(.25s);
      opacity: 0;
      display: block;
      position: absolute;
      font-size: 2em;
      line-height: .75em;
      top:15%;
      left:0;
      color:#9c1c13;
      background: none;
      content:"•";
    }
    &.active {
      color: #9c1c13;
      padding: .25em .25em .25em .75em;
      &:after{
        opacity: 1;
        left:-.25em;
      }
    }
  }
}

.parallax-mirror{
  height: 250px;
}

.blog__article{
  margin-top: -20px;
}


/*
TODO: Refactor everything below
It currently exists in style.scss
*/
/* custom bmKBM styles */

/*
.product-grid-item .btn--add-to-cart, .bmkbm-element .btn--add-to-cart {
  background: none;
  border: 0;
  width: 140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px; }
  .product-grid-item .btn--add-to-cart:focus, .bmkbm-element .btn--add-to-cart:focus {
    outline: none; }
  .product-grid-item .btn--add-to-cart .text, .bmkbm-element .btn--add-to-cart .text {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    flex: 4;
    padding: .25em;
    border-radius: 10px 0 0 10px;
    border: 3px solid #E83333;
    background: #FA4C4C;
    color: #fff;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    font-weight: 600;
    font-size: .9em; }
    .product-grid-item .btn--add-to-cart .text span, .bmkbm-element .btn--add-to-cart .text span {
      z-index: 10;
      position: relative;
      display: block; }
  .product-grid-item .btn--add-to-cart .price, .bmkbm-element .btn--add-to-cart .price {
    flex: 5;
    padding: .25em;
    border-radius: 0 10px 10px 0;
    border: 3px solid #cacaca;
    border-left: none;
    background: #fff;
    color: #000;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    font-weight: 600;
    font-size: .9em;
    position: relative; }
    .product-grid-item .btn--add-to-cart .price:after, .bmkbm-element .btn--add-to-cart .price:after {
      content: ' ';
      position: absolute;
      left: -9.75px;
      top: 25%;
      background: #fff;
      border-bottom: 3px solid #E83333;
      border-left: 3px solid #E83333;
      height: 15px;
      width: 15px;
      transform: rotate(45deg); }
    .product-grid-item .btn--add-to-cart .price span, .bmkbm-element .btn--add-to-cart .price span {
      transform: scale(1.15);
      z-index: 10;
      position: relative;
      display: block; }
  .product-grid-item .btn--add-to-cart:hover, .bmkbm-element .btn--add-to-cart:hover {
    cursor: pointer; }
    .product-grid-item .btn--add-to-cart:hover .text, .bmkbm-element .btn--add-to-cart:hover .text {
      background: #E83333; }

.product-grid-item.large--one-fifth .name_wrapper, .bmkbm-element.large--one-fifth .name_wrapper {
  height: 3.75em; }

.product-grid-item.large--one-sixth .btn--add-to-cart, .bmkbm-element.large--one-sixth .btn--add-to-cart {
  transform: scale(0.9); }

.product-grid-item.large--one-sixth .name_wrapper, .bmkbm-element.large--one-sixth .name_wrapper {
  height: 3.75em; }

.bmkbm-element .btn--add-to-cart {
  transform: scale(1.2) translate(0, -10px); }

  .product-grid-item .name_wrapper {
    height: 2.5em; }

*/
