@import "_variables.scss";

.page-width{
  // max-width: 1200px;
}

.site-header__logo{
  a{
    display: block;
    svg{
      width: 100%;
      height: auto;
      @media(min-width: $size-m){
        position: relative;
        top:-6px;
      }
    }
  }
}

// GRID STYLES
[class^='row']{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  &[class*='bp--m--w']{
    @media(max-width: $size-m){
      flex-wrap: wrap;
    }
  }
  &[class*='bp--s--w']{
    @media(max-width: $size-s){
      flex-wrap: wrap;
    }
  }
  &[class*='--wrap']{
    flex-wrap: wrap;
  }
  &[class*='--a-t']{
    align-items: flex-start;
  }
  &[class*='--a-b']{
    align-items: flex-end;
  }
  [class^='col']{
    position: relative;
    // z-index: 1;
    &[class*='--1']{
      flex: 1;
    }
    &[class*='--a-l']{
      text-align: left;
    }
    &[class*='--a-r']{
      text-align: right;
    }
    &[class*='--p-t']{
      padding-top: 1.5em;
    }
    &[class*='--p-r']{
      padding-right: 1.5em;
    }
    &[class*='--p-b']{
      padding-bottom: 1.5em;
    }
    &[class*='--p-l']{
      padding-left: 1.5em;
    }
    &[class*='--100']{
      width:100%;
    }
    &[class*='--75']{
      width:75%;
    }
    &[class*='--70']{
      width:70%;
    }
    &[class*='--66']{
      width:66.66%;
    }
    &[class*='--50']{
      width:50%;
    }
    &[class*='--33']{
      width:33.33%;
    }
    &[class*='--30']{
      width:30%;
    }
    &[class*='--25']{
      width:25%;
    }
    &[class*='overlap']{
      z-index: 10;
      &[class*='--right']{
        margin-right: -5rem;
        width:calc(25% + 5rem);
      }
      &[class*='--left']{
        margin-left: -5rem;
        width:calc(25% + 5rem);
        @media(max-width: $size-xl){
          margin-left: -3rem;
          width:calc(35% + 3rem);
        }
        @media(max-width: $size-l){
          margin-left: 0;
          width: 50%;
        }
        @media(max-width: $size-m){
          width: 100%;
        }
      }
    }
    //BREAKPOINTS
    &[class*='bp--m']{
      @media(max-width: $size-m){
        width: 100%;
      }
    }
    &[class*='bp--s']{
      @media(max-width: $size-s){
        width: 100%;
      }
    }
  }
}

//STRUCTURE
.site-header, .megamenu, .site-nav--has-dropdown.is-focused>a, .site-nav--has-dropdown:hover>a, .site-nav__dropdown a{
  background: $tan-lt;
}
.site-header--stuck{
  @include animation(.5s);
  &.site-header--hide{
    top:-115px;
  }
}
hr{
  margin:1.5em auto;
}

body, input, textarea, button, select, .faux-select, .variant-input-wrap label{
  @extend %font-regular;
  color: $green-dr;
}

body, .site-nav__link, .site-header__logo a, .header-logo a, .footer__title, .site-footer, .collection-item__title--overlaid-box>span, a, .text-link{
  color: $green-dr;
}
.announcement-bar{
  background: $green-dr;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4{
  @extend %font-bold;
}

h5, .h5, h6, .h6{
  @extend %font-italic;
  text-transform: none;
}

h4, .h4, h5, .h5{
  font-size: 21.6px;
  text-transform: capitalize;
}

[data-section-type*='header-section']{
  .site-nav__link{
    @extend %font-regular;
    font-size: 18px;
    text-transform: none;
    padding: .15em .5rem;
    margin: 0 1.5rem;
    &:after{
      border-color: $green-dr;
    }
  }
  .megamenu{
    border-bottom: 1px solid #e8e8e1;
    @extend %font-regular;
    a{
      font-size: 16px;
    }
    .h5 a{
      font-size: 21.6px;
      @extend %font-bold;
    }
  }
}

@media(max-width: $size-s){
  .footer-promotions{
    margin-bottom: 6rem;
  }
  .site-header__logo a svg {
    width: 120%;
    margin-top: -5px;
  }

  .small--one-half {
    width: 80%;
    margin-left: 10%;
  }
}

[id*='page-about-template']{

}

.page-content{
  margin: 1.5rem auto;
}

.section-header__title{
  margin: 1.5rem 0;
}

.index-section--faq{
  margin: 3rem 0 0 0;
}

.article__body{
  &.rte{
    img{
      margin: 1.5em 0;
    }
    gallery{
      margin-top:-.5em;
    }
  }
}

.article__title{
  font-size: 21.6px;
  @extend %font-bold;
  line-height: 1em;
}
.article__date{
  padding-bottom: .5rem;
}

.promo-grid__container{
  background: rgba($pink-dr,.7) !important;
}

.collapsible-trigger-btn{
  text-transform: none;
  font-size: 18px;
  @extend %font-bold;
}

.collapsible-content__inner{
  text-transform: none;
  font-size: 16px;
  @extend %font-regular;
}

.tag.tag--remove a, .js-drawer-open-collection-filters.btn.btn--tertiary.btn--tertiary-active{
  background: $pink-dr;
  border: 0;
  &:hover{
    background: $pink-md !important;
  }
}

.type-banner__text{
  @extend %font-regular;
  font-size: 18px;
  text-align:left;
  p{
    position: relative;
    z-index: 2;
  }
  &:before{
    content: none;
    position: absolute;
    z-index: 1;
    top:-50%;
    right: -20%;
    width: 600px;
    height: 600px;
    @media(max-width: $size-s){
      width: 400px;
      height: 400px;
    }
    @extend %svg_lotus;
  }
  @media(max-width: $size-s){
    &:before{
      content: "";
    }
  }
}

footer li a, .site-footer .footer__collapsible{
  @extend %font-regular;
  font-size: 16px;
}

footer input{
  @extend %font-italic;
  font-size: 16px;
}

.background-media-text__text .h3{
  font-size: 32px;
}

//grid spacing
.grid-product__content{
  padding: .4rem;
}
.collection-item, .article__grid-image{
  border:.4rem solid #fff;
}

.site-header__logo{
  // margin:0;
  line-height: 1.1em;
}

.social-sharing{
  text-align: left;
}

.product__photos{
  margin-top: 1rem;
  .image-wrap{
    // padding-bottom: 100%;
    // img{
    //   width: auto;
    //   max-height: 800px;
    // }
  }
  .product__main-photos{
    max-height: 800px;
  }
}

.js-mobile-only{
  display: none;
}

.js-flex-s{
  display: flex;
}

@media(max-width: $size-s){
  .js-flex-s{
    display: block;
  }
  .js-desktop-only{
    display: none;
  }
  .js-mobile-only{
    display: block;
  }
}

//homepage specific
.template-index{

  .shopify-section.index-section--flush{
    margin-top: 75px;
  }

  .hero__image-wrapper:before, .hero__media:before {
    opacity: .25;
  }

  .hero__image{
    animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s forwards !important;
  }

  .h1.hero__title{
    .animation-cropper{
      overflow: visible;
    }
    .animation-contents{
      animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s forwards !important;
      svg{
        width: 950px;
        max-width: 75vw;
        margin-left: -6vw;
        @media(max-width: $size-s){
          width: 950px;
          max-width: 105vw;
          margin-left: -18vw;
        }
      }

      // position: relative;
      // &:before{
      //   content:"";
      //   position: absolute;
      //   left: -70%;
      //   top:-70%;
      //   width: 150%;
      //   height: 150%;
      //   @extend %svg_lotus;
      // }

    }
  }

  .background-media-text__container{
    @media(max-width: $size-s){
      height: 375px;
    }
  }
  .background-media-text__aligner{
    margin: 90px 60px;
    @media(max-width: $size-m){
      margin: 60px;
    }
    @media(max-width: $size-s){
      margin: 0;
    }
    .animation-contents{
      animation: none !important;
      opacity: 1 !important;
      .background-media-text__text{
        padding: 5rem;
        width: 66.6%;
        min-width: 300px;
        @media(max-width: $size-m){
          padding: 3rem;
          width: 75%;
        }
        @media(max-width: $size-s){
          padding: 1.5rem 1.5rem 5rem 1.5rem;
          // background: $pink-md;
          width: 100%;
          text-align:left;
        }
      }
    }
  }

  @media(max-width: $size-s){
    .page-width{
      overflow: hidden;
    }
    .flex-grid__item.flex-grid__item--50.type-sale_collection{
      display: none;
    }
    .grid__item.small--one-half.medium-up--one-third{
      width: 70%;
      float:none;
      &.js-left{
        margin-left: -10%;
      }
      &.js-center{
        margin-left: 15%;
      }
      &.js-right{
        margin-left: 40%;
        margin-right: -10%;
      }
    }
    .shopify-section.index-section--flush{
      margin-top: 0;
      .background-media-text{
        display: flex;
        flex-wrap: wrap;
        .background-media-text__container{
          order:2;
        }
        .background-media-text__inner{
          order:1
        }
      }
    }
  }

  // .background-media-text__text{
  //   width: 86%;
  //   min-width: 300px;
  // }
  .promo-grid__container{
    background: #fff !important;
    justify-content: flex-start;
    .promo-grid__text {
      text-align: left;
      padding-left: 3rem;
      .rte--block.rte--strong{
        display: inline;
        position: relative;
        @extend %font-bold;
        color:$green-dr;
        line-height: 1.5em;
        box-shadow: -25px 0 0 #fff;
        padding: 15px 20px 15px 0;
        background-color: #fff;
        @media(max-width: $size-s){
          box-shadow: -15px 0 0 #fff;
          padding: 5px 15px 5px 0;
        }
      }
      .btn.btn--inverse{
        display: block;
        max-width: 150px;
        margin: 3rem 0 0 -25px;
        font-size: 16px;
        @media(max-width: $size-s){
          margin: 1.5rem 0 0 -15px;

        }
      }
    }
  }
  .collection-item.collection-item--overlaid-box{
    position: relative;
    overflow: visible;
    @media(max-width: $size-s){
      height: 110px;
    }
    .image-wrap{
      position: relative;
      top:1em;
      left: 1em;
      overflow: hidden;
      @media(max-width: $size-s){
        // position: absolute;
        height: 100%;

      }
      &:before{
        content: "";
        position: absolute;
        top:-50%;
        left: -20%;
        width: 600px;
        height: 600px;
        @media(max-width: $size-s){
          width: 400px;
          height: 400px;
        }
        @extend %svg_lotus;
      }
    }
    &:before{
      content:"";
      position: absolute;
      z-index: 1;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      border: 2px solid $green-dr;
      box-sizing: border-box;
    }
    &:after{
      content:"";
      position: absolute;
      top:1em;
      left:1em;
      width: 100%;
      height: 100%;
      background:$pink-dr;
      opacity: .7;
      box-sizing: border-box;
    }
    .collection-image{
      padding-bottom: 50%;
      background:none !important;
    }
    .collection-item__title--overlaid-box>span{
      background: none;
    }
    .collection-item__title span{
      text-transform: capitalize;
      font-size: 32px;
      @extend %font-bold;
      @media(max-width: $size-m){
        font-size: 28px;
        line-height: 1em;
      }
      @media(max-width: $size-s){
        font-size: 24px;
      }
    }
    &:hover{
      &:after{
        opacity:1;
      }
    }
  }

  .promo-grid__container--framed:not(.promo-grid__container--boxed):after{
    border-width: 1rem;
  }
  .flex-grid__item.flex-grid__item--50.type-sale_collection{
    margin-top: 3rem;
    .rte--block.rte--em{
      font-size: 1.2em;
      text-transform: capitalize;
      @extend %font-italic;
      margin-bottom: -.65em;
    }
    .rte--block.rte--strong{
      @extend %font-bold;
      background: none;
      padding-top: 0;
    }
  }
  .type-sale-images{
    position: absolute;
    right: -1rem;
    width: calc(55% + 1rem);
    height: calc(100% + 1rem);
    background: $pink-md;
    overflow: hidden;
    &:before{
      content: "";
      position: absolute;
      width: 600px;
      top:-50%;
      right: -20%;
      height: 600px;
      @extend %svg_lotus;
    }
    @media(max-width: $size-s){
      width:50%;
    }
    .placeholder-svg{
      fill:transparent;
      background-color: transparent;
    }
  }
}



[class*='grid-item--']{
  &[class*='--product']{
    &[class*='--image']{
      height: 0;
      padding-bottom: 150%;
      margin: 0;
      &.is-landscape{
        padding-bottom: 75%;
        margin:37.5% 0 0 0;
      }
      background-size: cover;
      background-position: center center;
    }
  }
}

.template-index{
  [class*='grid-item--']{
    &[class*='--product']{
      &[class*='--image']{
        padding-bottom: 150%;
        &.is-landscape{
          padding-bottom: 150%;
          margin: 0;
        }
      }
    }
  }
}

.template-search .main-content{
  min-height: 0;
  .search-bar--page{
    max-width: 500px;
  }
}

.section-header, .rte.text-spacing, .rte.text-spacing:last-child{
  margin-bottom:1.5rem;
}

.grid-product__title{
  text-transform: capitalize;
  font-size: 1.2em;
  @extend %font-italic;
}

[class*='product-info'], [class*='article-info']{
  max-width: 500px;
  margin: auto;
  &[class*='--links']{
    text-align: left;
    a:hover{
      text-decoration: underline;
    }
  }
  &[class*='--nav']{
    margin: 1.5em auto;
    font-size: .85em;
    a{
      color: #999;
      display: block;
      position: relative;
      span{
        font-weight: 500;
      }
      &.nav--prev{
        &::before{
          padding-right: .5em;
          content: "\2190";
        }
      }
      &.nav--next{
        max-width: 225px;
        &:after{
          padding-left: .5em;
          content: "\2192";
        }
      }
      &:hover{
        color:$green-dr;
      }
    }
  }
}

.btn{
  text-transform: capitalize;
  @extend %font-regular;
  font-size: 14px;
}

.breadcrumb{
  a{
    color:#999;
    &:hover{
      color:$green-dr;
    }
  }
  .divider{
    color:$tan-dr;
    padding: 0 .5em;
  }
}

.template-list-collections a.collection-item span{
  @extend %font-italic;
  font-size: 21.6px;
  text-transform: capitalize;
}

.site-footer{
  background: $pink-md;
  padding-top: 90px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  .page-width{
    position: relative;
    z-index: 2;
  }
  &:after{
    content: "";
    position: absolute;
    z-index: 1;
    top:0;
    right: -100px;
    width:600px;
    height: 600px;
    @extend %svg_lotus;
    @media(max-width: $size-s){
      width: 400px;
      height: 400px;
    }
  }
  hr{
    border-color: transparent;
    margin: 90px 0 0 0;
  }
  .footer__small-text{
    text-align: left;
  }
  .footer__newsletter{
    input{
      background: transparent;
      border-color: $pink-dr;
      &::placeholder{
        // padding-left: 10px;
      }
    }
  }
}

[class^='card']{

  &[class*='--intro-section']{
    margin: 5rem 0;
    @media(max-width: $size-s){
      margin:3rem 0 0 0;
    }
    box-sizing: border-box;

    .text{
      padding-right: 10rem;
      @media(max-width: $size-m){
        padding-right: 3rem;
      }
      h2{
        margin-bottom: 3rem;
      }
    }
    .image{
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      z-index: 1;
    }

    [class^='image-box']{
      background: $pink-md;
      height: 0;
      width: 100%;
      padding-bottom: 115%;
      @media(max-width: $size-m){
        padding-bottom: 150%;
      }
      @media(max-width: $size-s){
        padding-bottom: 125%;
      }
      &[class*='--overlap']{
        margin: 5rem 0;
        width: 115%;
        padding-bottom: 65%;
        border:3rem solid $pink-md;
        position: relative;
        z-index: 5;
        @media(max-width: $size-s){
          width:100%;
        }
      }
    }

    .nudge--right{
      margin-top: 5rem;
      margin-left: calc(15% + 3rem);
      @media(max-width: $size-s){
        margin:3rem 0;
      }
    }

    .overlap--up{
      padding: 5rem;
      box-sizing: border-box;
      background: $pink-md;
      width: calc(100% - 2.5rem);
      position: relative;
      z-index: 2;
      left: -5rem;
      top: -5rem;
    }
    @media(max-width: $size-l){}
    @media(max-width: $size-m){}
  }

  .inner-text{
    padding-left: 3rem;
    max-width:85%;
    @media(max-width: $size-s){
      padding: 0;
      max-width: 100%;
      margin: 3rem 0;
    }
  }

  .featured--foot{
    margin: 3rem auto;
    padding: 0 7.5rem;
    max-width: 1065px;
    @media(max-width: $size-s){
      padding: 0;
    }
  }

  &[class*='--featured']{
    margin: 5rem 0;
    @media(max-width: $size-l){
      margin: 0;
    }
    box-sizing: border-box;
    .text{
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $pink-md;
      .content{
        padding: 5rem 7.5rem;
        @media(max-width: $size-xl){
          padding: 3rem 7.5rem 3rem 3rem;
        }
        @media(max-width: $size-l){
          padding: 3rem 3rem;
        }
      }
    }
    .image{
      background: $tan-dr;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      z-index: 5;
    }

    [class^='flag']{
      text-transform: uppercase;
      letter-spacing: .1em;
      display: inline-block;
      padding: .5em 1em;
      background: #fff;
      margin: 0 0 2.5rem 0;
    }
  }
}
