<div class="page-width">

<div class="card--intro-section">
  <div class="row--a-t bp--m--w">
    <div class="col--50 bp--m">
      <h2 class="title">
        I didn’t always have this business: the clients, the courses, the sales, the millions of downloads...
      </h2>
      <div class="text">
        <p>In fact, just a few years ago you could have found me wearing red and khaki, exhausted in my stuffy windowless office. I thought I had landed my dream job, but that dream turned into a ladder-climbing nightmare.</p>

        <p>At the age of 22, I invested in a $300 Craigslist camera. Little did I know, that camera would be my one-way ticket out of my windowless office corporate job. That single investment led me to the 7-figure empire I’m running today. Today you can find me snugged up in my cozy Minnesota craftsman with my two pups or basking on the beaches of Hawaii with my dreamboat husband.</p>
      </div>
    </div>
    <div class="col--50 bp--m">
      <div class="image" style="background:url(https://cdn.shopify.com/s/files/1/0333/1188/3403/files/IMG_4999-1024x683.jpg?v=1586979346) center center no-repeat; background-size:cover;"></div>

      <div class="overlap--up">
        <h3>At the age of 22, I invested in a $300 Craigslist camera. Little did I know, that camera would be my one-way ticket out of my windowless office corporate job. That single investment led me to the 7-figure empire I’m running today. Today you can find me...</h3>
      </div>
    </div>
  </div>
</div>

</div><!-- .page-width -->

<!--

<div class="card--featured">

  <div class="row">
    <div class="col--50">
      <div class="text">
        <div class="content">

          <div class="flag">Latest Post</div>

          <h3>The 3 Things I Wish I’d Done Sooner</h3>

          <p>Tune In: Apple Podcasts | Spotify | Stitcher You know what they say, hindsight is always 20-20. And honestly, it’s funny looking back at life and realizing just how many things we could’ve done better, streamlined sooner or simply made smarter decisions about. I’m not an advocate of living with any regrets, but I do […]</p>

          <p><em>Continue Reading</em></p>

        </div>
      </div>
      <div class="float-over--right">
        IN RETROSPECT, I PROBABLY SHOULD HAVE KNOWN THAT THE GIRL WHO WOULD HAUL A COOLER A HALF A MILE TO REACH THE INTERSECTION OF TWO DESOLATE DIRT ROADS IN A TINY MINNESOTA TOWN TO SELL LUKEWARM LEMONADE FOR FIFTY CENTS WOULD BECOME AN ENTREPRENEUR SOMEDAY...
      </div>
    </div>
    <div class="col--50 overlap--left">
      <div class="image" style="background:url(https://cdn.shopify.com/s/files/1/0333/1188/3403/files/IMG_4999-1024x683.jpg?v=1586979346) center center no-repeat; background-size:cover;"></div>
    </div>
  </div>

</div>

<div class="card--featured">

  <div class="row">
    <div class="col--50 overlap--right">
      <div class="image" style="background:url(https://cdn.shopify.com/s/files/1/0333/1188/3403/files/IMG_4999-1024x683.jpg?v=1586979346) center center no-repeat; background-size:cover;"></div>
    </div>
    <div class="col--50">
      <div class="text">
        <div class="content">

          <div class="flag">Latest Post</div>

          <h3>The 3 Things I Wish I’d Done Sooner</h3>

          <p>Tune In: Apple Podcasts | Spotify | Stitcher You know what they say, hindsight is always 20-20. And honestly, it’s funny looking back at life and realizing just how many things we could’ve done better, streamlined sooner or simply made smarter decisions about. I’m not an advocate of living with any regrets, but I do […]</p>

          <p><em>Continue Reading</em></p>

        </div>
      </div>
    </div>
  </div>

</div> -->
